html {
  font-size: 16px;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.14s ease-in;
  overflow-x: hidden;
}

a {
  color: #b38242;
  transition: all 0.3s ease-out;
}
a:hover {
  color: rgb(199, 71, 21);
}

.day {
  background-color: rgb(78, 110, 79);
}

.night {
  background-color: rgb(78, 110, 79);
}

#loadingScreen {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgb(78, 110, 79);
  z-index: 99;
}
#loadingScreen .loaderWrapper {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#loadingScreen .loaderWrapper img {
  width: 86px;
  animation: rotating 2s linear infinite;
}

.progressbar {
  margin-top: 16px;
  height: 8px;
  width: 110px;
  background: none;
  border: 1px solid white;
  border-radius: 3px;
  padding: 2px;
}
.progressbar div {
  height: 100%;
  background-color: white;
  width: 0%;
  border-radius: 3px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.decor {
  position: relative;
  width: 100%;
}
.decor .decor_L,
.decor .decor_R {
  background-repeat: no-repeat;
  z-index: -500;
  background-size: 100%;
  height: 390px;
  position: absolute;
  top: 0;
}
.decor .decor_L {
  background-image: url(../../assets/gallery/2025/banner_L.png);
  width: 791px;
  left: 0;
}
.decor .decor_R {
  background-image: url(../../assets/gallery/2025/banner_R.png);
  width: 783px;
  right: 0;
}

.logo {
  padding: 120px 0 120px 0;
  position: relative;
}
.logo .logo_bg {
  width: 380px;
  height: 350px;
  top: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  background-image: url(../../assets/gallery/2025/title.png);
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 1;
}

h1 {
  margin: 0 0 0.25rem;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-family: "DFPT_AZ5", sans-serif;
  z-index: 5;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  font-family: "DFPT_AZ5", sans-serif;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 0 0 10px 0;
}

h4 {
  margin: 0 0 1.2rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  font-family: "DFPT_AZ5", sans-serif;
  color: #be9934;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
}
.leaveLink{
  text-align: center;
  transition: all 0.3s;
}
.leaveLink a{
	font-family: "DFPT_AZ5", sans-serif;
  text-decoration: none;
  color: white;
}
.leaveLink a:hover{
	color: #be9934;
}
.streamLink {
  position: absolute;
  bottom: 10px;
  right: -32px;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.streamLink img {
  opacity: 0;
  width: 68px;
}
.streamLink:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.animateOnce {
  animation: wooper 0.3s normal forwards ease-out;
}

@keyframes wooper {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.navbar {
  z-index: 10;
  font-size: medium;
  height: 120px;
  position: sticky;
  top: 0;
  transition: all 0.2s ease-in;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.navbar .exchangeButton {
  height: 110px;
  width: 284px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
}
.navbar .exchangeButton .exchangeBar {
  background-image: url(../../assets/gallery/2025/changebar.png);
  background-repeat: no-repeat;
  background-position: left center;
  width: 284px;
  height: 65px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navbar .exchangeButton .exchangeBar_active {
  background-image: url(../../assets/gallery/2025/changebar_active.png);
  background-repeat: no-repeat;
  background-position: left center;
  width: 0px;
  height: 60px;
  position: relative;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.2s;
}
.navbar .exchangeButton .exchangeIcon {
  width: 166px;
  position: absolute;
  left: -80px;
  top: -16%;
  transform: scale(0.95);
  cursor: pointer;
  transition: all 0.2s;
}
.navbar .exchangeButton .exchangeIcon img {
  animation: wiggle 1s infinite;
}
.navbar .exchangeButton .exchangeIcon:hover {
  transform: scale(1.02);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: self-start;
  justify-content: center;
  width: 90%;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-top: 53px;
  padding-bottom: 8px;
  list-style: none;
}
.grid .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 180px;
  min-height: 180px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 36px;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
  will-change: transform;
  background-color: #263a25;
  background: linear-gradient(157deg, rgb(38, 58, 37) 66%, rgb(75, 71, 60) 100%);
  padding: 14px;
  border-radius: 3px;
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.card {
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  height: 180px;
  perspective: 1000px;
  z-index: -2;
}
.card .cardBG {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #be9934;
  transform: scale(1.05);
  transition: all 0.4s;
}
.card:hover .cardBG {
  background-color: #be9934 !important;
}
.card .cardInner {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card .cardInner .cardFront,
.card .cardInner .cardBack {
  position: absolute;
  width: 100%;
  height: 180px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.card .cardInner .cardBack {
  color: white;
  transform: rotateY(180deg);
}

.preview {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.preview .previewInner {
  height: 180px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.preview .previewInner:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.preview:hover .previewInner, .preview:focus .previewInner {
  -ms-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

.label {
  color: white;
  font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;
  cursor: pointer;
  width: 105%;
  margin-top: 10px;
  position: relative;
  padding: 2px 0px;
  border-radius: 5px;
  transition: all 0.14s ease-in;
  text-shadow: 0 0 5px #4d3c29, 0 0 5px #4d3c29;
}
.label .label_BG {
  z-index: -3;
  width: 0%;
  height: 100%;
  padding: 2px 0px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(4deg);
}
.label:hover .label_BG {
  width: 100%;
  background-color: #858b60;
}
.label .giftTitle,
.label .giftAltTitle {
  width: 90%;
  float: right;
  text-align: center;
}
.label .giftTitle {
  font-size: 1.2rem;
  line-height: 120%;
}
.label .giftAltTitle {
  font-size: 0.8rem;
  line-height: 150%;
}
.label .gift {
  width: 72px;
  position: absolute;
  left: -32px;
  top: -16px;
  z-index: -1;
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
}
.label .gift img {
  width: 72px;
}

.thanks {
  color: white;
  margin-top: 24px;
  margin-bottom: 65px;
  text-align: center;
}
.thanks span {
  color: #be9934;
}

.footer {
  width: 100%;
  border-top: 20px solid #fcfcfc;
  background-color: #263a25;
  margin-top: 20px;
  color: #fcfcfc;
  text-align: center;
  font-size: 0.9em;
  font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;
}
.footer .content {
  padding: 20px;
}
.footer .content a:nth-of-type(1) {
  color: rgb(245, 180, 191);
}
.footer .content a:nth-of-type(2) {
  color: rgb(197, 214, 149);
}
.footer .content a {
  cursor: pointer;
}
.footer .content a:hover {
  color: rgb(157, 236, 226);
}
.footer .snowdeco {
  width: 100%;
  position: relative;
}
.footer .snowdeco > div {
  z-index: -500;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
}
.footer .snowdeco .snowocto {
  left: -30px;
  width: 450px;
  height: 370px;
  background-image: url(../../assets/gallery/bg-deco1.png);
  transform: translateY(-270px) scale(0.55);
  opacity: 0.7;
}
.footer .snowdeco .snowika {
  right: 0px;
  width: 380px;
  height: 325px;
  background-image: url(../../assets/gallery/bg-deco2.png);
  transform: translateY(-225px) scale(0.4);
}

.hide {
  opacity: 0 !important;
  z-index: -1 !important;
}

.itemPanel .itemSummary {
  color: rgb(58, 49, 45);
}

.modal .modal_bg {
  background-color: rgb(58, 49, 45) !important;
  opacity: 0.5;
}

.art_wrap {
  width: 100%;
  max-width: 780px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) !important;
  transition: opacity 0.25s ease-out;
}

.art {
  width: 100%;
}

.author {
  font-size: 23px;
  font-family: "DFPT_AZ5", "HanyiZongyi", sans-serif;
  color: white;
  text-align: center;
  padding: 5px 0 5px 0;
  clear: left;
}
.author div:nth-of-type(1) {
  margin: 0 auto;
  padding-bottom: 8px;
}
.author div:nth-of-type(2) {
  margin: 0 auto;
  display: inline-block;
  border-top: 1px solid white;
  font-size: 0.9em;
  padding: 4px 32px 0 32px;
}
.author a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(222, 192, 135);
}
.author a:hover {
  color: rgb(157, 236, 226);
}

::selection {
  color: rgb(238, 236, 231);
  background: rgb(58, 49, 45);
}

.noscroll {
  overflow: hidden;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(184, 120, 2) rgb(219, 213, 202);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgb(219, 213, 202);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(58, 49, 45);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

@media only screen and (max-width: 959px) {
  .art_wrap {
    width: 90%;
  }
}
@media only screen and (max-width: 1574px) {
  .decor .decor_L {
    width: 50%;
    background-position-x: -100px;
  }
  .decor .decor_R {
    width: 50%;
    background-position-x: 100px;
  }
}
@media only screen and (max-width: 1024px) {
  .decor > div {
    background-size: 730px auto !important;
  }
  .decor .decor_L {
    width: 100%;
    background-position-x: -420px;
  }
  .decor .decor_R {
    background-position-x: 100px;
  }
}
@media only screen and (max-width: 765px) {
  .logo .logo_bg {
    z-index: 98;
  }
  .decor {
    position: fixed;
    z-index: -1;
  }
  .decor .decor_L {
    background-position-x: -520px;
  }
}
@media only screen and (max-width: 481px) {
  .exchangeIcon,
.exchangeIcon img {
    display: none;
  }
  .navbar {
    height: 96px;
  }
  .logo {
    width: 100%;
  }
  .logo .logo_bg {
    width: 90%;
  }
  .decor .decor_L {
    background-position-x: -530px;
  }
  .decor .decor_R {
    background-position-x: 50px;
  }
  h1 {
    font-size: 8vw;
  }
  h4 {
    font-size: 5vw;
  }
  .footer .snowdeco .snowocto {
    opacity: 0;
  }
}

/*# sourceMappingURL=gallery.css.map */
