@font-face {
  font-family: "DFPT_AZ5";
  src: url("../assets/fonts/DFPT_AZ5.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "DFPT_ZY9";
  src: url("../assets/fonts/DFPT_ZY9.otf");
  font-style: normal;
  font-weight: normal;
}
html {
  font-size: 16px;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.14s ease-in;
  overflow-x: hidden;
}

a {
  color: #b38242;
  transition: all 0.3s ease-out;
}
a:hover {
  color: rgb(199, 71, 21);
}

.day {
  background-color: rgb(219, 213, 202);
  background-position: top left, top right;
  background-repeat: no-repeat;
  background-size: 100%;
}

.night {
  background-color: rgb(219, 213, 202);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.decor {
  position: absolute;
  width: 100%;
}
.decor > div {
  background-repeat: no-repeat;
  z-index: -500;
  background-size: 100%;
  height: 390px;
  position: absolute;
  top: 0;
}
.decor .decor_L {
  background-image: url(../assets/banner_L.png);
  width: 791px;
  left: 0;
}
.decor .decor_R {
  background-image: url(../assets/banner_R.png);
  width: 783px;
  right: 0;
}

.logo {
  padding: 115px 0 150px 0;
  position: relative;
}
.logo .logo_bg {
  width: 380px;
  height: 340px;
  top: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  background-image: url(../assets/title.png);
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: -1;
}

h1 {
  margin: 0 0 0.25rem;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  color: #333;
  font-family: "DFPT_AZ5", sans-serif;
  z-index: 5;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  font-family: "DFPT_AZ5", sans-serif;
  color: #333;
  margin: 0 0 10px 0;
}

h4 {
  margin: 0 0 1.2rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  font-family: "DFPT_AZ5", sans-serif;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

p {
  max-width: 800px;
  padding: 0px 20px;
  margin: 0 auto;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.25px;
  color: #333;
}

.navbar {
  z-index: 10;
  font-size: medium;
  height: 110px;
  position: sticky;
  top: 0;
  transition: all 0.2s ease-in;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.navbar .exchangeButton {
  height: 110px;
  width: 284px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
}
.navbar .exchangeButton .exchangeBar {
  background-image: url(../assets/changebar.png);
  background-repeat: no-repeat;
  background-position: left center;
  width: 284px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navbar .exchangeButton .exchangeBar_active {
  background-image: url(../assets/changebar_active.png);
  background-repeat: no-repeat;
  background-position: left center;
  width: 0px;
  height: 60px;
  position: relative;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.2s;
}
.navbar .exchangeButton .exchangeIcon {
  width: 166px;
  position: absolute;
  left: -80px;
  top: -20%;
  transform: scale(0.95);
  cursor: pointer;
  transition: all 0.2s;
}
.navbar .exchangeButton .exchangeIcon img {
  animation: wiggle 1s infinite;
}
.navbar .exchangeButton .exchangeIcon:hover {
  transform: scale(1.02);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: self-start;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;
  list-style: none;
}
.grid .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 180px;
  min-height: 180px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 36px;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
  will-change: transform;
  background-color: #b38242;
  padding: 14px;
  border-radius: 3px;
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.card {
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  height: 180px;
  perspective: 1000px;
  z-index: -2;
}
.card .cardBG {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #684a29;
  transform: scale(1.05);
  transition: all 0.4s;
}
.card:hover .cardBG {
  background-color: #c4a87f !important;
}
.card .cardInner {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card .cardInner .cardFront,
.card .cardInner .cardBack {
  position: absolute;
  width: 100%;
  height: 180px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.card .cardInner .cardBack {
  color: white;
  transform: rotateY(180deg);
}

.preview {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.preview .previewInner {
  height: 180px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.preview .previewInner:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.preview:hover .previewInner, .preview:focus .previewInner {
  background-color: #bdc4d0;
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.label {
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  cursor: pointer;
  width: 105%;
  margin-top: 10px;
  position: relative;
  padding: 2px 0px;
  border-radius: 5px;
  transition: all 0.14s ease-in;
  text-shadow: 0 0 5px #684a29, 0 0 5px #684a29;
}
.label .label_BG {
  z-index: -3;
  width: 0%;
  height: 100%;
  padding: 2px 0px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(4deg);
}
.label:hover .label_BG {
  width: 100%;
  background-color: #c4a87f;
}
.label .giftTitle,
.label .giftAltTitle {
  width: 90%;
  float: right;
  text-align: center;
}
.label .giftTitle {
  font-size: 1.2rem;
  line-height: 120%;
}
.label .giftAltTitle {
  font-size: 0.8rem;
  line-height: 150%;
}
.label .gift {
  width: 72px;
  position: absolute;
  left: -32px;
  top: -16px;
  z-index: -1;
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
}
.label .gift img {
  width: 72px;
}

.footer {
  width: 100%;
  border-top: 20px solid #e6e6e6;
  background-color: #8b867a;
  padding: 20px;
  margin-top: 20px;
  color: #fcfcfc;
  text-align: center;
  font-size: 0.9em;
  font-family: "Noto Sans TC", sans-serif;
}
.footer a {
  cursor: pointer;
  color: #dfb982;
}
.footer a:hover {
  color: rgb(126, 214, 255);
}

.noscroll {
  overflow: hidden;
}

.hide {
  opacity: 0 !important;
  z-index: -1 !important;
}

.itemPanel .itemSummary {
  color: rgb(58, 49, 45);
}

.langSwitch {
  font-size: 1.15em !important;
  top: -2px !important;
  cursor: pointer;
}

.modal .close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 90px;
  height: 90px;
  opacity: 0.6;
  transition: all 0.3s ease-in;
}
.modal .close:hover {
  opacity: 1;
}
.modal .close:before, .modal .close:after {
  position: absolute;
  left: 45px;
  content: " ";
  height: 90px;
  width: 2px;
  background-color: #dfdfdf;
}
.modal .close:before {
  transform: rotate(45deg);
}
.modal .close:after {
  transform: rotate(-45deg);
}
.modal .modal_bg {
  background-color: rgb(58, 49, 45) !important;
  opacity: 0.5;
}

.art_wrap {
  width: 100%;
  max-width: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) !important;
  transition: all 0.25s ease-out;
}

.art {
  width: 100%;
}

.author {
  font-size: 1.4rem;
  font-family: "DFPT_AZ5", sans-serif;
  color: white;
  text-align: center;
  padding: 3px 0 5px 0;
}
.author a {
  cursor: pointer;
  text-decoration: underline;
  color: #dbb781;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.author a:hover {
  color: rgb(126, 214, 255);
}

::selection {
  color: rgb(238, 236, 231);
  background: rgb(58, 49, 45);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(184, 120, 2) rgb(219, 213, 202);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgb(219, 213, 202);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(58, 49, 45);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

@media only screen and (max-width: 959px) {
  .art_wrap {
    width: 90%;
  }
  .itemPanel {
    width: 100% !important;
    height: max-content !important;
    text-align: center;
  }
  .itemPanel .itemArtWrap {
    width: 100%;
    height: unset !important;
    position: static !important;
    margin: 0 auto !important;
    transform: translate(0, 0) !important;
  }
  .itemPanel .itemSummary {
    position: relative !important;
    width: 90% !important;
    margin: 0 auto !important;
    right: auto !important;
    padding: 0 0 20px 0 !important;
    transform: translate(0, 0) rotateZ(2deg) !important;
  }
  .itemPanel .itemSummary .itemTitle {
    max-width: none !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    width: 90%;
    margin: 0 auto;
  }
  .itemPanel .itemSummary .itemSummary_inner {
    width: 90% !important;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1574px) {
  .decor .decor_L {
    width: 50%;
    background-position-x: -100px;
  }
  .decor .decor_R {
    width: 50%;
    background-position-x: 100px;
  }
}
@media only screen and (max-width: 1024px) {
  .decor > div {
    background-size: 730px auto !important;
  }
  .decor .decor_L {
    width: 100%;
    background-position-x: -420px;
  }
  .decor .decor_R {
    background-position-x: 100px;
  }
}
@media only screen and (max-width: 765px) {
  .logo .logo_bg {
    z-index: 100;
  }
  .decor {
    position: fixed;
    z-index: -1;
  }
  .decor .decor_L {
    background-position-x: -520px;
  }
}
@media only screen and (max-width: 481px) {
  .exchangeIcon, .exchangeIcon img {
    display: none;
  }
  .navbar {
    height: 96px;
  }
  .logo {
    width: 100%;
  }
  .logo .logo_bg {
    width: 90%;
  }
  .itemArt {
    width: 300px !important;
    height: 300px !important;
  }
  .decor .decor_L {
    background-position-x: -530px;
  }
  .decor .decor_R {
    background-position-x: 50px;
  }
  h1 {
    font-size: 8vw;
  }
  h4 {
    font-size: 5vw;
  }
}

/*# sourceMappingURL=2024.css.map */
