@font-face {
  font-family: "DFPT_AZ5";
  src: url("../assets/fonts/DFPT_AZ5.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "DFPT_ZY9";
  src: url("../assets/fonts/DFPT_ZY9.otf");
  font-style: normal;
  font-weight: normal;
}
html {
  font-size: 16px;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.14s ease-in;
}

.day {
  background-color: rgb(219, 213, 202);
}

.night {
  background-color: #867e7e;
}

h1 {
  margin: 0 0 0.25rem;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  color: #333;
  font-family: "DFPT_AZ5", sans-serif;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  font-family: "DFPT_AZ5", sans-serif;
  color: #333;
  margin: 0 0 10px 0;
}

h4 {
  margin: 0 0 1.2rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  font-family: "DFPT_AZ5", sans-serif;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

p {
  max-width: 800px;
  padding: 0px 20px;
  margin: 0 auto;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.25px;
  color: #333;
}

.banner {
  padding: 40px 0 60px 0;
  position: relative;
}
.banner .banner_bg {
  width: 400px;
  height: 220px;
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scaleX(1.2);
  background-color: white;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  z-index: -1;
}

.navbar {
  z-index: 10;
  position: sticky;
  top: 0;
  font-size: medium;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.flipButton {
  cursor: pointer;
  font-family: "DFPT_AZ5", sans-serif;
  text-decoration: wavy;
  text-align: center;
  display: flex;
  transition: all 0.14s ease-in;
}

.sender,
.getter {
  z-index: 10;
  flex: 1;
  padding: 8px 0px;
}

.sender > div,
.getter > div {
  font-size: small;
}

.flipButtonBG,
.flipButtonBG2 {
  height: 100%;
  position: absolute;
  transition: all 0.4s ease-in-out;
}

.flipButtonBG {
  width: 0;
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}

.flipButtonBG2 {
  width: 0;
  right: 0;
  background-image: url(../assets/0000/bg2.png);
  background-color: rgb(101, 212, 207);
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: self-start;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0 0;
  list-style: none;
}
.grid .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 180px;
  min-height: 180px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 36px;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
  will-change: transform;
  background-color: #b38242;
  padding: 14px;
  border-radius: 3px;
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.card {
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  height: 180px;
  perspective: 1000px;
}
.card .cardBG {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #684a29;
  transform: scale(1.05);
  transition: transform 0.8s;
}
.card .cardInner {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card .cardInner .cardFront,
.card .cardInner .cardBack {
  position: absolute;
  width: 100%;
  height: 180px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.card .cardInner .cardBack {
  color: white;
  transform: rotateY(180deg);
}

.preview {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.preview .previewInner {
  height: 180px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.preview .previewInner:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.preview:hover .previewInner, .preview:focus .previewInner {
  background-color: #bdc4d0;
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.label {
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  cursor: pointer;
  width: 105%;
  margin-top: 10px;
  position: relative;
  padding: 2px 0px;
  border-radius: 5px;
  transition: all 0.14s ease-in;
  text-shadow: 0 0 5px #684a29, 0 0 5px #684a29;
}
.label .label_BG {
  z-index: -1;
  width: 0%;
  height: 100%;
  padding: 2px 0px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(5deg);
}
.label:hover .label_BG {
  width: 100%;
  background-color: #c4a87f;
}
.label .giftTitle,
.label .giftAltTitle {
  width: 90%;
  float: right;
  text-align: center;
}
.label .giftTitle {
  font-size: 1.2rem;
  line-height: 120%;
}
.label .giftAltTitle {
  font-size: 0.8rem;
  line-height: 150%;
}
.label .gift {
  width: 72px;
  position: absolute;
  left: -32px;
  top: -16px;
  transform: rotateZ(-5deg);
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
}
.label .gift img {
  width: 72px;
}

.noscroll {
  overflow: hidden;
}

.hide {
  opacity: 0 !important;
  z-index: -1 !important;
}

.itemPanel .itemSummary {
  color: rgb(58, 49, 45);
}

.modal .modal_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.art {
  position: absolute;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) !important;
  transition: all 0.25s ease-out;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(184, 120, 2) rgb(219, 213, 202);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgb(219, 213, 202);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(58, 49, 45);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

@media only screen and (max-width: 959px) {
  .art {
    width: 90%;
    height: auto;
  }
  .itemPanel {
    width: 100% !important;
    top: 400px !important;
    transform: translate(-50%, 0) !important;
  }
  .itemPanel .itemArt {
    left: 50% !important;
    transform: translate(-50%, -110%) scale(1) rotateZ(0) !important;
  }
  .itemPanel .itemSummary {
    position: static !important;
    width: 90% !important;
    top: 20% !important;
    margin: 0 auto !important;
    right: auto !important;
    padding: 20px 0 !important;
    transform: translate(0, -10%) scale(1) rotateZ(2deg) !important;
  }
  .itemPanel .itemSummary .itemSummary_inner {
    max-height: none !important;
    width: 90% !important;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 481px) {
  .banner .banner_bg {
    width: 100%;
    left: 0;
    transform: translate(0, -50%) scaleX(1);
  }
  h1 {
    font-size: 8vw;
  }
  h4 {
    font-size: 5vw;
  }
}

/*# sourceMappingURL=2024.css.map */
