@charset "UTF-8";
body {
  font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;
  background-color: #424439;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
}

#giftForm > div {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
  transition: 0.25s ease;
}

.banner {
  background-color: #7c3c40;
  text-align: center;
  color: #cfca9b;
  padding: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.banner img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.banner img:nth-child(1) {
  transform: rotate(180deg);
}
.banner img:nth-child(3) {
  margin-top: 5px;
}
.banner .frame {
  border: 1px solid #cfca9b;
  padding: 32px;
}
.banner .title {
  font-size: 2.3em;
}
.banner .summary {
  padding-top: 20px;
}

.nav {
  background-color: #42252a;
  width: 97%;
  margin: 0 auto;
  color: rgb(233, 228, 228);
  text-align: center;
  padding: 16px 0;
  transition: all 0.3s ease-in-out;
}
.nav ul.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav ul.navlist li {
  cursor: pointer;
  display: inline-block;
  padding: 0 8px;
  border-left: 2px solid #745f5e;
  border-right: 2px solid #745f5e;
  transition: 0.25s ease;
}
.nav ul.navlist li:hover, .nav ul.navlist li a:hover {
  color: #a05c60 !important;
}
.nav ul.navlist li a {
  color: rgb(233, 228, 228);
}
.nav .readme,
.nav .guide,
.nav .deadlines,
.nav .vips {
  border: 1px solid #42252a;
  font-size: 0.9em;
  padding: 24px 36px 8px 36px;
  text-align: left;
  transition: all 0.3s ease-in-out;
}
.nav .readme ul,
.nav .guide ul,
.nav .deadlines ul,
.nav .vips ul {
  margin: 0;
}
.nav .readme ul li,
.nav .guide ul li,
.nav .deadlines ul li,
.nav .vips ul li {
  line-height: 130%;
  margin: 12px auto;
}
.nav .readme ul li:nth-child(even) {
  color: #b5bd90;
}
.nav .guide {
  text-align: center;
}
.nav .guide ul {
  padding: 0;
  padding-bottom: 8px;
  list-style: none;
}
.nav .guide ul li {
  line-height: 120%;
  margin: 8px auto;
}
.nav .guide ul li:nth-child(even) {
  color: #a09f92;
}
.nav .guide ul li:nth-child(4n+3) {
  color: #b5bd90;
}
.nav .deadlines {
  text-align: center;
  padding-top: 16px;
}
.nav .deadlines ul {
  padding: 0;
  list-style: none;
  font-size: 1em;
}
.nav .deadlines ul li {
  color: #745f5e;
  line-height: 100%;
}
.nav .deadlines .countdown {
  border-bottom: 1px solid #745f5e;
  padding: 8px;
}
.nav .deadlines .countdown > span {
  font-size: 2.5em;
  padding: 0px 4px;
}
.nav .vips {
  padding-right: 42px;
  padding-left: 42px;
}
.nav .vips .memberWrap {
  display: flex;
  text-align: center;
}
.nav .vips .memberWrap > div {
  width: 50%;
}
.nav .vips .memberWrap > div .memberType {
  font-size: 1.5em;
  border-bottom: 1px solid #745f5e;
  padding-bottom: 4px;
  width: 80%;
  margin: 0 auto;
}
.nav .vips .memberWrap > div ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  columns: 3;
  column-gap: 0px;
}
.nav .vips .memberWrap > div ul li {
  line-height: 100%;
  padding: 8px 0px;
  margin: 0px auto;
}
.nav .vips .memberWrap div:nth-child(2) ul {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

.highlighted {
  color: #a05c60 !important;
}

.currentDeadline {
  color: rgb(233, 228, 228) !important;
}
.currentDeadline:before {
  content: "→ ";
}
.currentDeadline:after {
  content: " ←";
}

.hiddenContent {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 0;
  opacity: 0;
  top: -1000px;
  position: absolute;
}

.no-display {
  display: none;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.main {
  background: rgb(233, 228, 228);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease-in;
}
.main fieldset {
  box-sizing: border-box;
  border: 0 none;
  padding: 24px 24px 10px 24px;
  /*stacking fieldsets above each other*/
  position: relative;
}
.main fieldset .label {
  font-size: 1.3em;
  margin: 10px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  padding-left: 3px;
}
.main fieldset .question {
  border-left: 5px solid rgb(223, 177, 92);
  margin: 16px auto 20px auto;
  padding: 8px;
}
.main fieldset .desc {
  font-size: 0.83rem;
  padding: 5px;
  color: #706041;
}
.main fieldset .desc span {
  color: #be9440;
  transition: all 0.2s ease-in;
  text-decoration: underline;
}
.main fieldset .desc span:hover {
  cursor: pointer;
  color: #9e3038;
}
.main fieldset .error {
  font-size: 0.85em;
  color: #9e3038;
}
.main fieldset input,
.main fieldset textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "Noto Sans SC";
  font-size: 0.85rem;
}
.main fieldset input::placeholder,
.main fieldset textarea::placeholder {
  color: #a5a899;
}
.main .submit_area {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}
.main .submit_area div {
  color: #9e3038;
  font-weight: bold;
  margin-bottom: 10px;
}
.main .submit_area .confirm {
  color: rgb(58, 49, 45);
  font-weight: lighter;
  margin-bottom: 16px;
}
.main .submit_area .confirm label {
  cursor: pointer;
  color: #575147;
  padding: 2px;
  transition: 0.25s ease;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.main .submit_area .confirm input {
  margin-right: 1px;
  width: unset;
}
.main .submit_area button {
  cursor: pointer;
  border-radius: 7px;
  color: rgb(58, 49, 45);
  background-color: rgb(223, 177, 92);
  padding: 7px 30px 10px 30px;
  border: 0px;
  font-size: 1.5em;
  border: 1px solid rgb(223, 177, 92);
  transition: 0.25s ease;
}
.main .submit_area button:hover {
  background-color: #d37e38;
}
.main .submit_area button:disabled, .main .submit_area button[disabled] {
  cursor: auto;
  opacity: 0.6;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.selfTrade_options label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin: 0.2em auto;
}
.selfTrade_options label input {
  position: absolute;
  left: -9999px;
}
.selfTrade_options label input:checked + span {
  background-color: #725c4f;
  color: white;
}
.selfTrade_options label input:checked + span:before {
  box-shadow: inset 0 0 0 0.5em rgb(223, 177, 92);
}
.selfTrade_options label span {
  display: flex;
  align-items: center;
  padding: 0.15em 0.5em 0.25em 0.25em;
  border-radius: 0.5em;
  transition: 0.25s ease;
  color: #575147;
}
.selfTrade_options label span:hover {
  background-color: #c4a87f;
}
.selfTrade_options label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em rgb(223, 177, 92);
}

.extraWrapper {
  padding: 8px 0 4px 0;
  font-size: 0.83em;
}
.extraWrapper > span {
  color: #706041;
  transition: all 0.2s ease-in;
  text-decoration: underline;
}
.extraWrapper > span:hover {
  cursor: pointer;
  color: #9e3038;
}
.extraWrapper .extraUploader {
  border-left: 5px solid rgb(223, 177, 92);
  margin: 8px 0 2px 5px;
  padding: 2px 0 8px 5px;
}
.extraWrapper .extraUploader .desc {
  padding-top: 0px;
  padding-right: 50px;
}

.uploadResult, .multiUploadResult {
  display: inline;
  padding-left: 5px;
  font-size: 0.85rem;
  color: #61741d;
}
.uploadResult img, .multiUploadResult img {
  height: 28px;
  vertical-align: bottom;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
}

.dummy {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0;
  z-index: -99;
}

.noscroll {
  overflow: hidden;
}

.hide {
  opacity: 0 !important;
  z-index: -1 !important;
}

.fadeDown {
  top: 53% !important;
  opacity: 0;
}

.giftRulePanel {
  width: 90%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease, opacity 0.6s ease;
  background-color: rgb(233, 228, 228);
  padding: 32px;
  border-radius: 5px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

uc-copyright {
  display: none !important;
}

uc-simple-btn button {
  background-color: rgb(245, 245, 245) !important;
}

dialog::backdrop {
  transition: 0.3s ease-in-out;
  backdrop-filter: blur(8px);
}

::selection {
  color: rgb(238, 236, 231);
  background: #5d6836;
}

/*# sourceMappingURL=form.css.map */
