@font-face {
    font-family: "DFPT_ZY9";
    src: url("../assets/fonts/DFPT_ZY9.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "DFPT_ZY9";
    src: url("../assets/fonts/DFPT_ZY9.otf");
    font-style: normal;
    font-weight: normal;
}

$BG_MAIN: #424439;
$BG_BANNER: #7c3c40;
$BG_NAV: #42252a;
$BG_FORM: rgb(233, 228, 228);

$TEXT_BANNER: #cfca9b;
$TEXT_NAV: #776256;
$TEXT_NAV_LOW: #c77263;
$TEXT_NAV2: #bda990;

$TEXT_MAIN: rgb(58, 49, 45);
$TEXT_LINK: #be9440;
$TEXT_LINK2: #d37e38;
$TEXT_DESC: #705c41;
$TEXT_ERROR: #9e3038;
$TEXT_GOOD: #61741d;
$TEXT_HIGHLIGHT: #c4a87f;
$SELECT: #6a7543;
$ACCENT_MAIN: rgb(223, 177, 92);

body {
    font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;
    background-color: $BG_MAIN;
}
.wrapper {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
}

//================//
//===   FORM   ===//
//================//

#giftForm {
    > div {
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    }
}

a {
    text-decoration: none;
    transition: 0.25s ease;
}

//====================//
//===    BANNER    ===//
//====================//
.banner {
    background-color: $BG_BANNER;
    text-align: center;
    color: $TEXT_BANNER;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    img {
        width: 50%;
        display: block;
        margin: 0 auto;
        &:nth-child(1) {
            transform: rotate(180deg);
        }
        &:nth-child(3) {
            margin-top: 5px;
        }
    }
    .frame {
        border: 1px solid $TEXT_BANNER;
        padding: 32px;
    }
    .title {
        font-size: 2.3em;
    }
    .summary {
        padding-top: 20px;
    }
}

//=================//
//===    NAV    ===//
//=================//
.nav {
    background-color: $BG_NAV;
    width: 97%;
    margin: 0 auto;
    color: $BG_FORM;
    text-align: center;
    padding: 16px 0;
    transition: all 0.3s ease-in-out;
    ul.navlist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            cursor: pointer;
            display: inline-block;
            padding: 0 8px;
            border-left: 2px solid $TEXT_NAV;
            border-right: 2px solid $TEXT_NAV;
            transition: 0.25s ease;
            &:hover,
            a:hover {
                color: $TEXT_NAV_LOW !important;
            }
            a {
                color: $BG_FORM;
            }
        }
    }

    //======================//
    //===   NAV CONTENT  ===//
    //======================//
    .prologue,
    .readme,
    .guide,
    .deadlines,
    .vips {
        border: 1px solid $BG_NAV;
        font-size: 0.9em;
        padding: 24px 36px 8px 36px;
        text-align: left;
        transition: all 0.3s ease-in-out;
        ul {
            margin: 0;
            li {
                line-height: 130%;
                margin: 12px auto;
            }
        }
    }
    .readme {
        ul {
            li {
                &:nth-child(even) {
                    color: $TEXT_NAV2;
                }
            }
        }
    }
    .guide {
        text-align: center;
        ul {
            padding: 0;
            padding-bottom: 8px;
            list-style: none;
            li {
                // line-height: 120%;
                margin: 6px auto;
                &:nth-child(even) {
                    color: #a09f92;
                }
                &:nth-child(4n + 1) {
                    color: $TEXT_NAV2;
                }
            }
        }
    }
    .deadlines {
        text-align: center;
        padding-top: 16px;
        ul {
            padding: 0;
            list-style: none;
            font-size: 1em;
            li {
                color: $TEXT_NAV;
                line-height: 100%;
            }
        }
        .countdown {
            border-bottom: 1px solid $TEXT_NAV;
            padding: 8px;
            > span {
                font-size: 2.5em;
                padding: 0px 4px;
            }
        }
    }
    .vips {
        padding-right: 42px;
        padding-left: 42px;
        .memberWrap {
            display: flex;
            text-align: center;
            > div {
                width: 50%;
                .memberType {
                    font-size: 1.5em;
                    border-bottom: 1px solid $TEXT_NAV;
                    padding-bottom: 4px;
                    width: 80%;
                    margin: 0 auto;
                }
                ul {
                    width: 80%;
                    margin: 0 auto;
                    padding: 0;
                    list-style: none;
                    columns: 3;
                    column-gap: 0px;
                    // border: 1px solid $TEXT_NAV;
                    // border-top: 0;
                    li {
                        // border-bottom: 1px solid #745f5e50;
                        line-height: 100%;
                        padding: 8px 0px;
                        margin: 0px auto;
                    }
                }
            }
            div:nth-child(2) {
                ul {
                    columns: 1;
                    -webkit-columns: 1;
                    -moz-columns: 1;
                }
            }
        }
    }
    .prologue{
        padding-top: 30px;
        padding-bottom: 24px;
        >div{
            text-align: center;
            line-height: 160%;
            span{
                color: $TEXT_NAV2;
            }
        }
    }
}

.hiddenContent {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 0;
    opacity: 0;
    top: -1000px;
    position: absolute;
}

.highlighted {
    color: $TEXT_NAV_LOW !important;
}

.currentDeadline {
    color: $BG_FORM !important;
    &:before {
        content: "→ ";
    }
    &:after {
        content: " ←";
    }
}

//==================//
//===    MAIN    ===//
//==================//
.main {
    background: $BG_FORM;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s ease-in;
    fieldset {
        box-sizing: border-box;
        border: 0 none;
        padding: 24px 24px 10px 24px;
        /*stacking fieldsets above each other*/
        position: relative;
        .label {
            font-size: 1.3em;
            margin: 10px 0;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
            padding-left: 3px;
        }
        .question {
            border-left: 5px solid $ACCENT_MAIN;
            margin: 16px auto 20px auto;
            // box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
            padding: 8px;
        }
        .desc {
            font-size: 0.83rem;
            padding: 5px;
            color: $TEXT_DESC;
            span {
                color: $TEXT_LINK;
                transition: all 0.2s ease-in;
                text-decoration: underline;
                &:hover {
                    cursor: pointer;
                    color: $TEXT_GOOD;
                }
            }
        }
        .error {
            font-size: 0.85em;
            color: $TEXT_ERROR;
        }

        input,
        textarea {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            width: 100%;
            box-sizing: border-box;
            font-family: "Noto Sans TC", "Noto Sans SC";
            font-size: 0.85rem;

            &::placeholder {
                color: #a5a899;
            }
        }
    }
    .submit_area {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 50px;
        div {
            color: $TEXT_ERROR;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .confirm {
            color: $TEXT_MAIN;
            font-weight: lighter;
            margin-bottom: 16px;
            label {
                cursor: pointer;
                padding: 2px;
                transition: 0.25s ease;
            }
            input {
                margin-right: 1px;
                width: unset;
            }
        }
        button {
            cursor: pointer;
            border-radius: 7px;
            color: $TEXT_MAIN;
            background-color: $ACCENT_MAIN;
            padding: 7px 30px 10px 30px;
            border: 0px;
            font-size: 1.5em;
            border: 1px solid $ACCENT_MAIN;
            transition: 0.25s ease;

            &:hover {
                background-color: $TEXT_LINK2;
            }
            &:disabled,
            &[disabled] {
                cursor: auto;
                opacity: 0.6;
                border: 1px solid #999999;
                background-color: #cccccc;
                color: #666666;
            }
        }
    }
}

//========================//
//===    SELF-TRADE    ===//
//========================//
.selfTrade_options {
    label {
        display: flex;
        cursor: pointer;
        font-weight: 500;
        position: relative;
        overflow: hidden;
        margin: 0.2em auto;
        input {
            position: absolute;
            left: -9999px;
        }
        input:checked + span {
            background-color: $TEXT_DESC;
            color: white;
        }
        input:checked + span:before {
            box-shadow: inset 0 0 0 0.5em $ACCENT_MAIN;
        }
        span {
            display: flex;
            align-items: center;
            padding: 0.15em 0.5em 0.25em 0.25em;
            border-radius: 0.5em;
            transition: 0.25s ease;
            color: $TEXT_MAIN;
            &:hover {
                background-color: $TEXT_HIGHLIGHT;
            }
            &:before {
                display: flex;
                flex-shrink: 0;
                content: "";
                background-color: #fff;
                width: 1.5em;
                height: 1.5em;
                border-radius: 50%;
                margin-right: 0.375em;
                transition: 0.25s ease;
                box-shadow: inset 0 0 0 0.125em $ACCENT_MAIN;
            }
        }
    }
}

//============================//
//===    EXTRA-UPLOADER    ===//
//============================//
.extraWrapper {
    padding: 8px 0 4px 0;
    font-size: 0.83em;
    > span {
        color: $TEXT_DESC;
        transition: all 0.2s ease-in;
        text-decoration: underline;
        animation: 0.5s infinite alternate ease-out breathing-color;
        &:hover {
            cursor: pointer;
            color: $TEXT_GOOD;
        }
    }
    .extraUploader {
        border-left: 5px solid $ACCENT_MAIN;
        margin: 8px 0 2px 5px;
        padding: 2px 0 8px 5px;
        .desc {
            padding-top: 0px;
            padding-right: 50px;
        }
    }
}
.uploadResult,
.multiUploadResult {
    display: inline;
    padding-left: 5px;
    font-size: 0.85rem;
    color: $TEXT_GOOD;
    img {
        height: 28px;
        vertical-align: bottom;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
        margin-left: 5px;
    }
}


//==================//
//===   OTHER    ===//
//==================//

.dummy {
    // display: none;
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
    z-index: -99;
}
.noscroll {
    overflow: hidden;
}
.no-display {
    display: none;
}
.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@keyframes breathing-color {
    from{
        color: $TEXT_DESC;
    }
    to{
        color: $TEXT_LINK;
    }
}


//=========================//
//===   POP-UP MODAL    ===//
//=========================//

.hide {
    opacity: 0 !important;
    z-index: -1 !important;
}
.fadeDown {
    top: 53% !important;
    opacity: 0;
}

.modal_content > div, .modal2_content > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:
        all 0.4s ease,
        opacity 0.6s ease;    
}

.giftRulePanel {
    color: $TEXT_MAIN;
    width: 80%;
    max-width: 600px;
    background-color: rgb(235, 230, 220);
    background-image: url(../assets/paper.jpg);
    padding: 35px 52px 52px 52px;
    border-radius: 5px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
    ul{
        list-style-type: "⚠️";
        padding-left: 24px;
        padding-right: 24px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
        li{
            margin-bottom: 4px;
            border-bottom: $TEXT_HIGHLIGHT 1px dashed;
        }
    }
    .notice{
        color: $TEXT_ERROR;
        font-size: 0.9em;
        >div{
            margin-bottom: 5px;
        }
    }
}

.itemPanel .itemSummary {
	color: $TEXT_MAIN;
}

h2{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 12px;
}


//=========================//
//===   PREVIE ENTRY    ===//
//=========================//
.editable{
    z-index: -5;
    span{
        cursor: pointer;
    }
}

.itemPanel input, .itemPanel textarea{
    color: $TEXT_MAIN;
}

.itemTitle1 input{
    padding: 6px;
    font-size: x-large;
    font-family: "DFPT_ZY9", "HuakangZongyi";
}
.itemTitle2 input{
    padding: 4px;
    font-size: medium;
    font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;
}
.itemSummary_inner textarea{
    width: 90%;
    height: 150px;
    padding: 10px;
    font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;
    font-size: 1.27rem !important;
}
.tip{
    text-align: right;
    font-size: 0.95rem;
    color: $TEXT_DESC;
}
.noImage{
    width: 350px;
    height: 350px;
    box-shadow: inset 0 0 20px 10px #00000021;
    background-color: rgba(255, 255, 255, 0.158);
    color: rgb(44, 44, 44);
    > div{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.itemArt{
    display: block;
}

.selectButton{
    font-size: 0.9em;
    text-align: center;
    line-height: 110%;
    padding-top: 4px;
    padding-bottom: 6px;
    background-color: $TEXT_GOOD;
    color: white;
    border-radius: 8px;
    width: 100px;
    margin: 0 auto;
    margin-top: 5px;
    opacity: 0.6;
    transition: all 0.2s ease-in;
    &:hover{
        opacity: 1;
        cursor: pointer;
    }
}

.confirmEdit{
    font-size: 2.1em;
    text-align: center;
    color:white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    div{
        margin-top: 10px;
        span{
            cursor: pointer;
        }
        span:nth-child(1){
            color: #7ac008;
            margin-left: 20px;
            float: left;
        }
        span:nth-child(2){
            color: #e62633;
            margin-right: 20px;
            float: right;
        }
    }
}

//=========================//
//===   SAMPLE GIFTS    ===//
//=========================//
.sampleGiftPanel{
    width: 80%;
    max-width: 600px;
    > ul{
        list-style: none;
        margin: 0;
        padding: 0;
         > li{
            color: $TEXT_MAIN;
            transition:all 0.4s ease;
            display: flex;
            background-color: rgb(235, 230, 220);
            background-image: url(../assets/paper.jpg);
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
            width: 100%;
            opacity: 0;
            // max-height: 150px;
            img{
                width: 150px;
                height: 150px;
                display: block;
            }
            .giftName{
                font-weight: bold;
                font-size: 1.2em;
                padding: 12px;
                padding-left: 6px;
                padding-bottom: 2px;
            }
            .giftDesc{
                padding: 20px;
                padding-left: 6px;
                padding-top: 2px;
                // max-height: 96px;
                overflow-y: auto;
                a {
                    color: $TEXT_LINK;
                    transition: all 0.3s ease-out;
                    &:hover {
                        color: rgb(199, 71, 21);
                    }
                }
                
            }
            &:nth-child(1){
                transform: rotate(1deg);
            }
            &:nth-child(2){
                transform: rotate(-1.5deg);
            }   
            &:nth-child(3){
                transform: rotate(0.8deg);
            }            
        }
    }
}

//==============//
//===   UC   ===//
//==============//

uc-copyright {
    display: none !important;
}
uc-simple-btn button {
    background-color: rgb(245, 245, 245) !important;
}
dialog::backdrop {
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(8px);
}

//=====================//
//===   SELECTION   ===//
//=====================//

::selection {
    color: rgb(238, 236, 231);
    background: $SELECT;
}
