@font-face {
  font-family: "DFPT_AZ5";
  src: url("../assets/fonts/DFPT_AZ5.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "DFPT_ZY9";
  src: url("../assets/fonts/DFPT_ZY9.otf");
  font-style: normal;
  font-weight: normal;
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-size: auto;
  background-image: url(../assets/lottery/main.jpg);
}

.panelWarp {
  width: 100%;
  display: flex;
}

.panel {
  margin: 24px;
  border: rgb(58, 49, 45) 8px solid;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px rgba(255, 245, 201, 0.5);
}

.panelHeader {
  background: rgb(58, 49, 45);
  font-size: 1.3em;
  font-family: "DFPT_AZ5";
  color: rgb(219, 213, 202);
  padding: 8px 8px 14px 8px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
}

.logPanel {
  position: relative;
  margin-right: 16px !important;
  height: 600px;
}
.logPanel .title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  background-color: rgb(58, 49, 45);
  color: rgb(179, 170, 156);
  font-size: 1.5em;
  padding: 10px;
  border-radius: 8px;
}
.logPanel .logPanelContent {
  background-color: rgba(224, 224, 209, 0.6);
  width: 320px;
  height: 557px;
  overflow-y: auto;
}
.logPanel .logPanelContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.logPanel .logPanelContent ul li {
  position: relative;
  background: linear-gradient(-60deg, rgb(82, 68, 61) 65%, rgb(58, 49, 45) 66%);
  color: white;
  border-radius: 10px;
  list-style: none;
  width: 88%;
  height: 80px;
  margin: 10px auto;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 5px rgba(252, 240, 183, 0.8) inset;
}
.logPanel .logPanelContent ul li .chara {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%) rotate(-5deg);
}
.logPanel .logPanelContent ul li .gift {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(0, -50%) rotate(5deg);
}
.logPanel .logPanelContent ul li .label {
  font-size: medium;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
}
.logPanel .logPanelContent ul li .label div:nth-child(1) {
  border-bottom: 1px solid rgb(179, 170, 156);
  padding: 20px 20px 0 25px;
  text-align: left;
}
.logPanel .logPanelContent ul li .label div:nth-child(2) {
  line-height: 110%;
  padding: 4px 15px 20px 30px;
  text-align: right;
}
.logPanel .logPanelContent ul li:last-child {
  background-color: rgb(184, 120, 2);
  margin-bottom: 64px;
}

.lotterySection {
  width: 100%;
}

.lotteryPanel {
  margin-left: 16px !important;
  background-color: rgba(203, 193, 177, 0.7);
  backdrop-filter: blur(10px);
  transition: all 0.4s;
}
.lotteryPanel .lotteryBoard {
  height: 642px;
  overflow-y: auto;
}
.lotteryPanel .lotteryBoard_overlay {
  opacity: 0;
  background-color: rgba(31, 21, 16, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 100%;
  height: 642px;
  position: absolute;
  z-index: -1;
  transition: opacity 0.4s;
}
.lotteryPanel .lotteryBoard_overlay .endingText div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lotteryPanel .lotteryBoard_overlay .endingText .cross {
  width: 0;
  border: 1px solid rgb(219, 213, 202);
  transform: translate(-50%, -50%) rotate(-25deg);
  box-shadow: 0 0 30px black;
  transition: width 0.7s ease-in-out;
  opacity: 0.8;
}
.lotteryPanel .lotteryBoard_overlay .endingText div:nth-child(2) {
  width: 200px;
  text-align: center;
  font-size: 1.5em;
  color: white;
  text-shadow: 0 0 15px black, 0 0 20px black, 0 0 45px black, 0 0 50px black;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0 10px 0;
  list-style: none;
  max-width: 1100px;
}
.grid .gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
  height: 150px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
  will-change: transform;
  perspective: 1000px;
}
.grid .gridItem:hover .gridItem_inner {
  transform: scale(1.2);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
.grid .gridItem .gridItem_inner {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  border: rgb(82, 68, 61) 1px solid;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s, box-shadow 0.5s;
  transform-style: preserve-3d;
}
.grid .gridItem .gridItem_inner .gift_front,
.grid .gridItem .gridItem_inner .gift_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.grid .gridItem .gridItem_inner .gift_front {
  cursor: pointer;
  background-position: center center;
}
.grid .gridItem .gridItem_inner .gift_front .progress {
  width: 0%;
  position: absolute;
  height: 5px;
  background: yellow;
  box-shadow: 0 2px 5px rgba(83, 83, 83, 0.349);
  transition: width 0s;
}
.grid .gridItem .gridItem_inner .gift_front .full_progress {
  width: 100% !important;
  background: red;
  transition: all 1.5s cubic-bezier(0.55, 0, 0.55, 1) !important;
}
.grid .gridItem .gridItem_inner .gift_back {
  background-color: rgb(175, 168, 149);
  color: white;
  transform: rotateY(180deg);
}
.grid .gridItem .gridItem_inner .gift_back img {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.OCPanel {
  background: linear-gradient(-30deg, rgb(82, 68, 61) 55%, rgb(58, 49, 45) 55%);
  height: 100px;
  width: 100%;
  margin: 8px auto 0 auto;
  padding: 26px 0;
  position: relative;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
  transition: margin 0.3s ease, opacity 0.5s, width 0.5s;
}
.OCPanel .OCPanelContent {
  width: 80%;
  position: absolute;
  right: 0;
}

.turingBar,
.indicator,
.frame {
  position: absolute;
  left: 50%;
}

.turingBar {
  display: flex;
  transition: transform 0.5s;
}
.turingBar img {
  width: 100px;
  height: 100px;
}
.turingBar .oc {
  flex: 1;
  transition: all 0.5s;
}

.indicator,
.frame {
  width: 100px;
  height: 100px;
  top: -8px;
}

.indicator {
  border: 8px transparent solid;
  transform: translate(-50%, 0);
}
.indicator .frame {
  border: 8px rgb(252, 241, 183) solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, 0) scale(1);
}
.indicator .currentText,
.indicator .currentName {
  color: rgb(252, 241, 183);
  font-size: 2.2em;
  font-family: "DFPT_ZY9";
  text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.7);
}
.indicator .currentText {
  padding: 20px;
  position: absolute;
  top: -8%;
  left: -450%;
  transform: rotate(-2deg);
}
.indicator .currentName {
  text-align: center;
  width: 210px;
  position: absolute;
  top: 65%;
  left: -320%;
  transform: rotate(1deg);
}
.indicator .icon {
  z-index: 84;
  position: absolute;
  left: -70%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 60px;
}
.indicator .icon .arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: rgb(252, 241, 183);
  box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.7);
}
.indicator .icon .arrow::after,
.indicator .icon .arrow::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: rgb(252, 241, 183);
}
.indicator .icon .arrow::after {
  top: -12px;
  transform: rotate(45deg);
}
.indicator .icon .arrow::before {
  top: 12px;
  box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.7);
  transform: rotate(-45deg);
}

.modal {
  z-index: 830;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s ease-out;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 0.14s ease-in;
}
.modal .itemPanel {
  margin: 0 auto;
  width: 800px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.25s ease-out;
}
.modal .itemPanel .itemArt {
  width: 350px;
  height: 350px;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translate(0, -50%) scale(1) rotateZ(-5deg);
}
.modal .itemPanel .itemSummary {
  width: 400px;
  max-height: 300px;
  padding: 80px 50px 80px 200px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%) scale(1) rotateZ(2deg);
  background-color: #f3f4f8;
}

.noscroll {
  overflow: hidden;
}

.hide {
  opacity: 0 !important;
  z-index: -1 !important;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(184, 120, 2) rgb(219, 213, 202);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgb(219, 213, 202);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(58, 49, 45);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/*# sourceMappingURL=lottery.css.map */
