@font-face {
    font-family: "DFPT_AZ5";
    src: url("../assets/fonts/DFPT_AZ5.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "DFPT_ZY9";
    src: url("../assets/fonts/DFPT_ZY9.otf");
    font-style: normal;
    font-weight: normal;
}

$profile_size: 100px;
$spotlight_border_size: 8px;
$accent1: rgb(72, 60, 54);
$accent2: rgb(252, 241, 183);
$accent3: rgb(83, 83, 83);

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    // background-color: #e0e0e0;
    background-size: auto;
    background-image: url(../assets/lottery/main.jpg);    
}

.stats {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $accent3;
    z-index: 84;
    font-family: "DFPT_ZY9";
    font-size: 1.5em;
    padding: 40px 70px 40px 30px;
    border-radius: 0 0 50px 0;
    line-height: 1.2em;
    color: #e0e0e0;

    .title {
        text-align: center;
        font-size: 1.5em;
        transform: rotate(-4deg);
        margin-bottom: 20px;
    }

    span {
        color: $accent2;
    }
}

.topBar {
    width: 80%;
    padding-top: 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    // transform: translate(-50%, 0);
    z-index: 83;
}

.topBar_inner {
    height: 100%;
    position: relative;
}

.topBar_BG {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: $accent1;
    height: 150px;
    border-radius: 0 0 0 100px;
}

.turingBar {
    // border: 1px solid red;
    display: flex;
    position: absolute;
    left: 50%;
    transition: transform 0.5s;
    // transform: translate(-50px, 0);
}

.oc {
    flex: 1;
    transition: all 0.5s;
}

.turingBar img {
    width: $profile_size;
    height: $profile_size;
}

.spotlight,
.frame {
    width: $profile_size;
    height: $profile_size;
    position: absolute;
    left: 50%;
    top: $spotlight_border_size * -1;
}

.spotlight {
    border: $spotlight_border_size transparent solid;
    transform: translate(-50%, 0);
}

.frame {
    border: $spotlight_border_size $accent2 solid;
    box-shadow:
        0 0 5px rgba(0, 0, 0, 0.3),
        inset 0 0 5px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, 0) scale(1);
}

.current,
.currentName {
    color: $accent2;
    font-size: 2em;
    font-family: "DFPT_ZY9";
    text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.7);
}
.current {
    // background-color: grey;
    padding: 20px;
    position: absolute;
    top: -2%;
    left: -400%;
    transform: rotate(-2deg);
}
.currentName {
    text-align: center;
    width: 210px;
    position: absolute;
    top: 65%;
    left: -310%;
    transform: rotate(1deg);
    // border: 1px solid black;
}

.icon {
    z-index: 84;
    position: absolute;
    left: -70%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 60px;
}

.arrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: $accent2;
    // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.7);
}

.arrow::after,
.arrow::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: $accent2;
}

.arrow::after {
    top: -12px;
    transform: rotate(45deg);
}

.arrow::before {
    top: 12px;
    // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.7);
    transform: rotate(-45deg);
}

.content {
    // border: 1px solid red;
    margin-top: 200px;
    // padding: 0 30px;
}


$gift_notif_width: 300px;
.giftLogPanel {
    width: $gift_notif_width;
    height: 800px;
    position: fixed;
    overflow: hidden;
    top: 160px;
    left: 15px;
    ul {
        width: $gift_notif_width + 17;
        height: 100%;
        padding-right: 17px;//scroll width
        box-sizing: content-box;
        overflow-y: scroll;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            position: relative;
            background-color: rgba(61, 61, 61, 0.521);
            border-radius: 10px;
            list-style: none;
            width: $gift_notif_width - 10;
            height: 100px;
            margin: 10px 0;
            opacity: 0;
            transition: all 0.3s;
            .chara {
                width: 60px;
                height: 60px;
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translate(0,-50%) rotate(-5deg);
            }
            .gift {
                width: 60px;
                height: 60px;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translate(0,-50%) rotate(5deg);
            }
            .label {
                // border: #fff 1px solid;
                font-size: medium;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 180px;
                div:nth-child(1) {
                    border-bottom: 1px solid white;
                    padding: 20px 20px 0 30px;
                    text-align: left;
                }
                div:nth-child(2) {
                    line-height: 110%;
                    padding: 4px 20px 20px 30px;
                    text-align: right;
                }
            }
        }
        li:first-child {
            margin-top: 75px;
        }
        li:last-child {
            margin-bottom: 140px;
        }
    }
}

.pool {
    background-color: rgb(207, 199, 177);
    float: right;
    margin-right: 14%;
    // margin: 0 15% 100px auto;
    width: 80%;
    max-width: 1100px;
}



.panelWarp{
    width: 100%;
    display: flex;
}

.panelWarp > div{
    margin: 24px;
    border: $accent1 8px solid;
    border-radius: 10px;
}

//=====================//
//===   LOG BOARD   ===//
//=====================//

.logPanel{
    margin-right: 16px !important;
    width: 370px;
    height: 600px;
    background-color: rgb(224, 224, 209, 0.6);
}

//=========================//
//===   LOTTERY BOARD   ===//
//=========================//

.lotteryPanel {
    margin-left: 16px !important;
    width: 100%;
    height: 700px;
    background-color: rgb(203, 193, 177, 0.7);
    backdrop-filter: blur(10px);
}

$preview_size: 150px;
$preview_gapX: 10px;
$preview_gapY: 20px;

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    padding: 40px 0 40-$preview_gapY 0;
    list-style: none;
}

.gridItem {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: $preview_size;
    height: $preview_size;
    margin-right: $preview_gapX;
    margin-left: $preview_gapX;
    margin-bottom: $preview_gapY;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    transition:
        transform 0.14s ease-in,
        text-shadow 0.1s ease-in;
    will-change: transform;
    perspective: 1000px;
}

.gridItem_inner {
    text-align: center;
    vertical-align: middle;
    line-height: $preview_size;
    border: rgb(92, 83, 73) 1px solid;
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}


.gridItem:hover .gridItem_inner {
    transform: scale(1.2);
}


.gift_front,
.gift_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.gift_front {
    cursor: pointer;
    background-position: center center;

    .progress {
        width: 0%;
        position: absolute;
        height: 5px;
        background: red;
        box-shadow: 0 2px 5px rgba(83, 83, 83, 0.349);
        transition: width 0s;
    }
}

.full_progress{
    width: 100% !important;
    transition: width 1.5s cubic-bezier(0.55, 0, 0.55, 1) !important;
}

.gift_back {
    background-color: rgb(190, 183, 163);
    color: white;
    transform: rotateY(180deg);

    img {
        width: 120px;
        height: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.modal {
    z-index: 830;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.25s ease-out;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 0.14s ease-in;

    .itemPanel{
		margin: 0 auto;
		width: 800px;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
		transition: all 0.25s ease-out;
		// border: 1px solid green;

		.itemArt{
			width: 350px;
			height: 350px;
			position: absolute;
			left: -50px;
			top: 50%;
			transform: translate(0, -50%) scale(1) rotateZ(-5deg);
			// border: 1px solid red;
		}
		.itemSummary{
			width: 400px;
			max-height: 300px;
			padding: 80px 50px 80px 200px;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0, -50%) scale(1) rotateZ(2deg);
			background-color: #f3f4f8;
		}
    }
}

.noscroll {
    overflow: hidden;
}

.hide {
    opacity: 0 !important;
    z-index: -1 !important;
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


//=========================//
//===                   ===//
//===   MEDIA SCREENS   ===//
//===                   ===//
//=========================//

@media only screen and (max-width: 1700px) {
    .pool {
        margin-right: 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .topBar {
        width: 70%;
    }
}

@media only screen and (max-width: 959px) {
}

@media only screen and (max-width: 481px) {
}
