@font-face {
    font-family: "DFPT_AZ5";
    src: url("../assets/fonts/DFPT_AZ5.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "DFPT_ZY9";
    src: url("../assets/fonts/DFPT_ZY9.otf");
    font-style: normal;
    font-weight: normal;
}

$profile_size: 100px;
$spotlight_border_size: 8px;

$ACCENT1: rgb(58, 49, 45);
$ACCENT2: rgb(72, 60, 54);
$ACCENT3: rgb(179, 170, 156);
$ACCENT4: rgb(252, 241, 183);
$ACCENT5: rgb(219, 213, 202);
$ACCENT6: rgb(184, 120, 2);

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    // background-color: #e0e0e0;
    background-size: auto;
    background-image: url(../assets/lottery/main.jpg);
}

// .stats {
//     position: fixed;
//     top: 0;
//     left: 0;
//     background-color: $accent3;
//     z-index: 84;
//     font-family: "DFPT_ZY9";
//     font-size: 1.5em;
//     padding: 40px 70px 40px 30px;
//     border-radius: 0 0 50px 0;
//     line-height: 1.2em;
//     color: #e0e0e0;

//     .title {
//         text-align: center;
//         font-size: 1.5em;
//         transform: rotate(-4deg);
//         margin-bottom: 20px;
//     }

//     span {
//         color: $accent2;
//     }
// }

//===================//
//===   GENERAL   ===//
//===================//

.panelWarp {
    width: 100%;
    display: flex;
}

.panel {
    margin: 32px 24px;
    border: $ACCENT1 8px solid;
    border-radius: 10px;
}

.panelHeader {
    background: $ACCENT1;
    // background: linear-gradient(0deg, $ACCENT4 0%, $ACCENT1 50%);
    font-size: 1.3em;
    font-family: "DFPT_AZ5";
    color: $ACCENT5;
    padding: 8px 8px 14px 8px;
}

//=====================//
//===   LOG BOARD   ===//
//=====================//

.logPanel {
    position: relative;
    margin-right: 16px !important;
    height: 600px;
    // max-height: 664px;
    // max-height: 643px;
    .title {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
        background-color: $ACCENT1;
        color: $ACCENT3;
        font-size: 1.5em;
        padding: 10px;
        border-radius: 8px;
    }
    .logPanelContent {
        background-color: rgb(224, 224, 209, 0.6);
        width: 320px;
        height: 557px;
        overflow-y: auto;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                position: relative;
                background-color: $ACCENT2;
                color: white;
                border-radius: 10px;
                list-style: none;
                width: 88%;
                height: 80px;
                margin: 10px auto;
                opacity: 0;
                transition: all 0.3s;
                box-shadow: 0 0 5px rgba(252, 240, 183, 0.8) inset;
                .chara {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translate(0, -50%) rotate(-5deg);
                }
                .gift {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 50%;
                    right: 8px;
                    transform: translate(0, -50%) rotate(5deg);
                }
                .label {
                    // border: #fff 1px solid;
                    font-size: medium;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 180px;
                    div:nth-child(1) {
                        border-bottom: 1px solid $ACCENT3;
                        padding: 20px 20px 0 25px;
                        text-align: left;
                    }
                    div:nth-child(2) {
                        line-height: 110%;
                        padding: 4px 15px 20px 30px;
                        text-align: right;
                    }
                }
            }
            li:last-child {
                background-color: $ACCENT6;
                margin-bottom: 64px;
            }
        }
    }
}

//=========================//
//===   LOTTERY BOARD   ===//
//=========================//

.lotterySection {
    // border: 1px solid red;
    width: 100%;
}

.lotteryPanel {
    margin-left: 16px !important;
    background-color: rgb(203, 193, 177, 0.7);
    backdrop-filter: blur(10px);
    .lotteryBoard {
        // max-height: 632px;
        height: 642px;
        overflow-y: auto;
    }
}

$preview_size: 150px;
$preview_gapX: 10px;
$preview_gapY: 20px;

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0 30-$preview_gapY 0;
    list-style: none;
    max-width: 1100px;
    .gridItem {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: $preview_size;
        height: $preview_size;
        margin-right: $preview_gapX;
        margin-left: $preview_gapX;
        margin-bottom: $preview_gapY;
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        transition:
            transform 0.14s ease-in,
            text-shadow 0.1s ease-in;
        will-change: transform;
        perspective: 1000px;

        &:hover .gridItem_inner {
            transform: scale(1.2);
        }
        .gridItem_inner {
            text-align: center;
            vertical-align: middle;
            line-height: $preview_size;
            border: rgb(92, 83, 73) 1px solid;
            font-size: 4rem;
            font-weight: 600;
            color: #fff;
            text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.5s;
            transform-style: preserve-3d;

            .gift_front,
            .gift_back {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden; /* Safari */
                backface-visibility: hidden;
            }
            .gift_front {
                cursor: pointer;
                background-position: center center;
                .progress {
                    width: 0%;
                    position: absolute;
                    height: 5px;
                    background: red;
                    box-shadow: 0 2px 5px rgba(83, 83, 83, 0.349);
                    transition: width 0s;
                }
                .full_progress {
                    width: 100% !important;
                    transition: width 1.5s cubic-bezier(0.55, 0, 0.55, 1) !important;
                }
            }
            .gift_back {
                background-color: rgb(175, 168, 149);
                color: white;
                transform: rotateY(180deg);
                img {
                    width: 120px;
                    height: 120px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

//==================//
//===   OC BAR   ===//
//==================//

.OCPanel {
    background-color: $ACCENT1;
    height: $profile_size;
    width: 100%;
    margin: 0 auto;
    padding: 26px 0;
    position: relative;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    .OCPanel_content {
        // border: 1px solid white;
        width: 100%;
        position: absolute;
    }
}

.turingBar,
.indicator,
.frame {
    position: absolute;
    left: 50%;
}

.turingBar {
    // border: 1px solid red;
    display: flex;
    transition: transform 0.5s;
    img {
        width: $profile_size;
        height: $profile_size;
    }
    .oc {
        flex: 1;
        transition: all 0.5s;
    }
}

.indicator,
.frame {
    width: $profile_size;
    height: $profile_size;
    top: $spotlight_border_size * -1;
}

.indicator {
    border: $spotlight_border_size transparent solid;
    transform: translate(-50%, 0);

    .frame {
        border: $spotlight_border_size $ACCENT4 solid;
        box-shadow:
            0 0 5px rgba(0, 0, 0, 0.3),
            inset 0 0 5px rgba(0, 0, 0, 0.3);
        transform: translate(-50%, 0) scale(1);
    }
    .current,
    .currentName {
        color: $ACCENT4;
        font-size: 2em;
        font-family: "DFPT_ZY9";
        text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.7);
    }
    .current {
        // background-color: grey;
        padding: 20px;
        position: absolute;
        top: -2%;
        left: -400%;
        transform: rotate(-2deg);
    }
    .currentName {
        text-align: center;
        width: 210px;
        position: absolute;
        top: 65%;
        left: -310%;
        transform: rotate(1deg);
        // border: 1px solid black;
    }

    .icon {
        z-index: 84;
        position: absolute;
        left: -70%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 60px;
        .arrow {
            position: absolute;
            top: 25px;
            width: 90%;
            height: 10px;
            background-color: $ACCENT4;
            // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.7);
        }
        .arrow::after,
        .arrow::before {
            content: "";
            position: absolute;
            width: 60%;
            height: 10px;
            right: -8px;
            background-color: $ACCENT4;
        }
        .arrow::after {
            top: -12px;
            transform: rotate(45deg);
        }
        .arrow::before {
            top: 12px;
            // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.7);
            transform: rotate(-45deg);
        }
    }
}

//=========================//
//===                   ===//
//===   POP-UP MODALS   ===//
//===                   ===//
//=========================//

.modal {
    z-index: 830;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.25s ease-out;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 0.14s ease-in;

    .itemPanel {
        margin: 0 auto;
        width: 800px;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: all 0.25s ease-out;
        // border: 1px solid green;

        .itemArt {
            width: 350px;
            height: 350px;
            position: absolute;
            left: -50px;
            top: 50%;
            transform: translate(0, -50%) scale(1) rotateZ(-5deg);
            // border: 1px solid red;
        }
        .itemSummary {
            width: 400px;
            max-height: 300px;
            padding: 80px 50px 80px 200px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%) scale(1) rotateZ(2deg);
            background-color: #f3f4f8;
        }
    }
}

.noscroll {
    overflow: hidden;
}

.hide {
    opacity: 0 !important;
    z-index: -1 !important;
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $ACCENT6 $ACCENT3;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: $ACCENT3;
}

*::-webkit-scrollbar-thumb {
    background-color: $ACCENT1;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

//=========================//
//===                   ===//
//===   MEDIA SCREENS   ===//
//===                   ===//
//=========================//

@media only screen and (max-width: 1700px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 959px) {
}

@media only screen and (max-width: 481px) {
}
