@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@font-face {
  font-family: "DFPT_AZ5";
  src: url("../assets/fonts/DFPT_AZ5.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "DFPT_ZY9";
  src: url("../assets/fonts/DFPT_ZY9.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Thelma";
  src: url("../assets/fonts/ThelmaPersonalUse.otf");
  font-style: normal;
  font-weight: normal;
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-position: center 40%;
  background-size: auto;
  background-image: url(../assets/lottery/bg2.jpg);
}

.panelWarp {
  width: 100%;
  display: flex;
}

.panel {
  margin: 24px;
  border: rgb(58, 49, 45) 8px solid;
  border-radius: 10px;
  box-shadow: 3px 3px 2px 0px rgba(255, 245, 201, 0.4);
}

.panelHeader {
  background: rgb(58, 49, 45);
  font-size: 1.3em;
  font-family: "DFPT_AZ5";
  color: rgb(219, 213, 202);
  padding: 8px 8px 14px 8px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
}
.panelHeader span:nth-child(1) {
  color: rgb(219, 149, 19) !important;
}
.panelHeader span:nth-child(2) {
  float: right;
  padding-top: 2px;
  font-size: 0.7em;
  word-spacing: 5px;
}
.panelHeader span:nth-child(2) span {
  color: rgb(219, 149, 19) !important;
}

.logPanel {
  position: relative;
  margin-right: 16px !important;
  max-height: 600px;
}
.logPanel .title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  background-color: rgb(58, 49, 45);
  color: rgb(179, 170, 156);
  font-size: 1.5em;
  padding: 10px;
  border-radius: 8px;
}
.logPanel .logPanelContent {
  background-color: rgba(224, 224, 209, 0.4);
  width: 320px;
  height: 557px;
  overflow-y: auto;
}
.logPanel .logPanelContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.logPanel .logPanelContent ul li {
  position: relative;
  background: linear-gradient(-60deg, rgb(82, 68, 61) 65%, rgb(58, 49, 45) 66%);
  color: white;
  border-radius: 10px;
  list-style: none;
  width: 88%;
  height: 80px;
  margin: 10px auto;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 5px rgba(252, 240, 183, 0.8) inset;
}
.logPanel .logPanelContent ul li .chara {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%) rotate(-5deg);
}
.logPanel .logPanelContent ul li .gift {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  right: 8px;
  cursor: pointer;
  transform: translate(0, -50%) rotate(5deg);
  transition: all 0.2s;
}
.logPanel .logPanelContent ul li .gift:hover {
  transform: translate(0, -50%) rotate(5deg) scale(1.3);
}
.logPanel .logPanelContent ul li .label {
  font-size: medium;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
}
.logPanel .logPanelContent ul li .label div:nth-child(1) {
  border-bottom: 1px solid rgb(179, 170, 156);
  padding: 20px 20px 0 27px;
  text-align: left;
}
.logPanel .logPanelContent ul li .label div:nth-child(2) {
  line-height: 110%;
  padding: 4px 15px 20px 30px;
  text-align: right;
}
.logPanel .logPanelContent ul li:last-child {
  background: linear-gradient(-60deg, rgb(184, 120, 2) 65%, rgb(153, 95, 7) 66%);
  margin-bottom: 64px;
}

.lotterySection {
  width: 100%;
}

.lotteryPanel {
  margin-left: 16px !important;
  background-color: rgba(203, 193, 177, 0.5);
  backdrop-filter: blur(8px);
  transition: all 0.4s;
}
.lotteryPanel .lotteryBoard,
.lotteryPanel .lotteryBoard_overlay {
  height: 640px;
}
.lotteryPanel .lotteryBoard {
  overflow-y: auto;
}
.lotteryPanel .lotteryBoard_overlay {
  opacity: 0;
  background-color: rgba(31, 21, 16, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 100%;
  position: absolute;
  z-index: -1;
  transition: opacity 0.4s;
}
.lotteryPanel .lotteryBoard_overlay .endingText div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lotteryPanel .lotteryBoard_overlay .endingText .cross {
  width: 0;
  border: 1px solid rgb(219, 213, 202);
  transform: translate(-50%, -50%) rotate(-25deg);
  box-shadow: 0 0 30px black;
  transition: width 0.7s ease-in-out;
  opacity: 0.8;
}
.lotteryPanel .lotteryBoard_overlay .endingText div:nth-child(2) {
  width: 250px;
  text-align: center;
  font-size: 2.2em;
  font-family: "DFPT_AZ5";
  color: white;
  line-height: 170%;
  text-shadow: 0 0 20px black, 0 0 50px black, 0 0 65px black;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0 10px 0;
  list-style: none;
  max-width: 1100px;
}
.grid .gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
  height: 150px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
  will-change: transform;
  perspective: 1000px;
}
.grid .gridItem .gridItem_inner {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  border: rgb(82, 68, 61) 2px solid;
  font-size: 5rem;
  font-family: "Thelma";
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.7), 0 0 6px rgba(0, 0, 0, 0.7);
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s, box-shadow 0.5s;
  transform-style: preserve-3d;
}
.grid .gridItem .gridItem_inner:hover {
  transform: scale(1.2);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
.grid .gridItem .gridItem_inner .gift_front,
.grid .gridItem .gridItem_inner .gift_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.grid .gridItem .gridItem_inner .gift_front {
  cursor: pointer;
  background-position: center center;
}
.grid .gridItem .gridItem_inner .gift_front .progress {
  width: 0%;
  position: absolute;
  height: 5px;
  background-color: yellow;
  box-shadow: 0 2px 5px rgba(83, 83, 83, 0.349);
  transition: width 0s;
}
.grid .gridItem .gridItem_inner .gift_front .full_progress {
  width: 100% !important;
  background-color: red;
  transition: background-color 1.5s cubic-bezier(0.55, 0, 0.55, 1), width 1.5s cubic-bezier(0.55, 0, 0.55, 1) !important;
}
.grid .gridItem .gridItem_inner .gift_back {
  background-color: rgb(175, 168, 149);
  box-shadow: 0 0 8px 3px rgb(153, 147, 131) inset;
  color: white;
  transform: rotateY(180deg);
}
.grid .gridItem .gridItem_inner .gift_back img {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.OCPanel {
  background: linear-gradient(-30deg, rgb(82, 68, 61) 55%, rgb(58, 49, 45) 55%);
  height: 100px;
  width: 100%;
  margin: 16px auto 0 auto;
  padding: 26px 0;
  position: relative;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
  transition: margin 0.3s ease;
}
.OCPanel .OCPanelContent {
  width: 80%;
  position: absolute;
  right: 0;
  transition: opacity 0.6;
}

.turingBar,
.indicator,
.frame {
  position: absolute;
  left: 50%;
}

.turingBar {
  display: flex;
  transition: transform 0.5s;
}
.turingBar img {
  width: 100px;
  height: 100px;
}
.turingBar .oc {
  flex: 1;
  transition: all 0.5s;
}

.indicator,
.frame {
  width: 100px;
  height: 100px;
  top: -8px;
}

.indicator {
  border: 8px transparent solid;
  transform: translate(-50%, 0);
}
.indicator .frame {
  border: 8px rgb(252, 241, 183) solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, 0) scale(1);
}
.indicator .currentText,
.indicator .currentName {
  color: rgb(252, 241, 183);
  font-size: 2.2em;
  font-family: "DFPT_ZY9";
  text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.7);
}
.indicator .currentText {
  padding: 20px;
  position: absolute;
  top: -12%;
  left: -450%;
  transform: rotate(-2deg);
}
.indicator .currentText span {
  color: rgb(219, 149, 19) !important;
}
.indicator .currentName {
  text-align: center;
  width: 210px;
  position: absolute;
  top: 65%;
  left: -320%;
  transform: rotate(1deg);
}
.indicator .icon {
  z-index: 84;
  position: absolute;
  left: -70%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 60px;
}
.indicator .icon .arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: rgb(252, 241, 183);
  box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.7);
}
.indicator .icon .arrow::after,
.indicator .icon .arrow::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: rgb(252, 241, 183);
}
.indicator .icon .arrow::after {
  top: -12px;
  transform: rotate(45deg);
}
.indicator .icon .arrow::before {
  top: 12px;
  box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.7);
  transform: rotate(-45deg);
}

.breath {
  animation: breath 1s infinite;
}

@keyframes breath {
  0%, 100% {
    transform: translate(-50%, 0) scale(0.95);
    border-color: rgb(219, 149, 19);
  }
  65% {
    transform: translate(-50%, 0) scale(1.2);
    border-color: rgb(252, 241, 183);
  }
}
.host_wrap,
.host,
.host img {
  width: 500px;
  height: 375px;
}

.host_wrap {
  position: fixed;
  bottom: -6%;
}

.host {
  perspective: 2000px;
}
.host .host_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.host .front,
.host .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.host .back {
  transform: rotateY(180deg);
}

.squeezBreath {
  animation: squeezBreath 1s infinite;
  transform-origin: bottom;
}

.wobble {
  animation: wobble 4s infinite;
  transform-origin: bottom center;
  animation-timing-function: linear;
}

@keyframes wobble {
  0%, 100% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(6deg);
  }
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  87% {
    transform: rotate(-5deg);
  }
}
@keyframes squeezBreath {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.96) scaleX(1.04);
  }
}
.infoBubble {
  color: #3a1f1f;
  position: absolute;
  bottom: 220px;
  z-index: 83;
  opacity: 0;
  transition: all 0.3s;
}
.infoBubble span {
  color: #b82153 !important;
}

.infoBubble_inner {
  background: rgb(250, 200, 200);
  border: 2px solid #3a1f1f;
  border-radius: 16px;
  padding: 12px 25px;
  font-size: 1.7em;
  font-family: "DFPT_AZ5";
  transition: all 0.5s;
  position: relative;
}

.infoBubble_inner:before,
.infoBubble_inner:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 27px 10px 0;
  border-color: rgb(250, 200, 200) transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -27px;
  left: 9px;
  transform: scale(1.1) skew(-40deg, 0deg);
}

.infoBubble_inner:before {
  left: 6px;
  bottom: -32px;
  border-color: #3a1f1f transparent;
  transform: scale(1.4) skew(-40deg, 0deg);
}

.rotated_squeezBreath {
  animation: rotated_squeezBreath 1s infinite;
  transform-origin: bottom;
}

.move_wobble {
  animation: move_wobble 4s infinite;
  transform-origin: bottom center;
  animation-timing-function: linear;
}

@keyframes rotated_squeezBreath {
  0%, 100% {
    transform: rotate(4deg) scaleY(1);
  }
  50% {
    transform: rotate(4deg) scaleY(0.96) scaleX(1.04);
  }
}
@keyframes move_wobble {
  0%, 100% {
    left: 480px;
  }
  12% {
    left: 490px;
  }
  25% {
    left: 483px;
  }
  75% {
    left: 450px;
  }
  87% {
    left: 468px;
  }
}
.modal {
  z-index: 830;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: all 0.2s ease-in;
}
.modal .modal_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.itemPanel {
  margin: 0 auto;
  width: 800px;
  height: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-out;
}
.itemPanel .itemArt {
  z-index: 834;
  width: 350px;
  height: 350px;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translate(0, -50%) scale(1) rotateZ(-5deg);
}
.itemPanel .itemSummary {
  z-index: 833;
  padding: 50px 40px 60px 120px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%) scale(1) rotateZ(2deg);
  background-color: rgb(235, 230, 220);
  background-image: url(../assets/lottery/paper.jpg);
  color: rgb(58, 49, 45);
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.3em;
  box-shadow: 8px 8px 9px 1px rgba(0, 0, 0, 0.2);
}
.itemPanel .itemSummary .itemSummary_inner {
  max-height: 300px;
  padding: 10px 16px;
  overflow-y: auto;
  width: 440px;
  height: 100%;
}
.itemPanel .itemSummary .itemSummary_inner li {
  padding-right: 30px;
}
.itemPanel .itemSummary .itemSummary_inner a {
  color: rgb(184, 120, 2);
  transition: all 0.3s ease-out;
}
.itemPanel .itemSummary .itemSummary_inner a:hover {
  color: rgb(199, 71, 21);
}

.flipped:hover {
  box-shadow: none !important;
}

.noscroll {
  overflow: hidden;
}

.hide {
  opacity: 0 !important;
  z-index: -1 !important;
}

.no-select,
.itemArt,
.turingBar *,
.host_wrap *,
.panelHeader span {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

::selection {
  color: rgb(58, 49, 45);
  background: rgb(219, 213, 202);
}

.currentText span::selection,
.currentName::selection,
.endingText div::selection {
  color: white;
  background: rgb(219, 149, 19);
}

.infoBubble_inner::selection {
  color: #ca3044;
  background: white;
}

.snowScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.snow {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.snow:nth-child(1) {
  opacity: 0.1069;
  transform: translate(48.3477vw, -10px) scale(0.6791);
  animation: fall-1 16s -14s linear infinite;
}
@keyframes fall-1 {
  37.367% {
    transform: translate(49.7966vw, 37.367vh) scale(0.6791);
  }
  to {
    transform: translate(49.07215vw, 100vh) scale(0.6791);
  }
}
.snow:nth-child(2) {
  opacity: 0.4866;
  transform: translate(62.8268vw, -10px) scale(0.1258);
  animation: fall-2 21s -7s linear infinite;
}
@keyframes fall-2 {
  71.908% {
    transform: translate(62.9645vw, 71.908vh) scale(0.1258);
  }
  to {
    transform: translate(62.89565vw, 100vh) scale(0.1258);
  }
}
.snow:nth-child(3) {
  opacity: 0.202;
  transform: translate(85.7971vw, -10px) scale(0.8161);
  animation: fall-3 24s -18s linear infinite;
}
@keyframes fall-3 {
  66.831% {
    transform: translate(81.413vw, 66.831vh) scale(0.8161);
  }
  to {
    transform: translate(83.60505vw, 100vh) scale(0.8161);
  }
}
.snow:nth-child(4) {
  opacity: 0.95;
  transform: translate(45.105vw, -10px) scale(0.284);
  animation: fall-4 14s -13s linear infinite;
}
@keyframes fall-4 {
  31.939% {
    transform: translate(36.023vw, 31.939vh) scale(0.284);
  }
  to {
    transform: translate(40.564vw, 100vh) scale(0.284);
  }
}
.snow:nth-child(5) {
  opacity: 0.7394;
  transform: translate(14.6686vw, -10px) scale(0.5925);
  animation: fall-5 21s -23s linear infinite;
}
@keyframes fall-5 {
  34.041% {
    transform: translate(20.513vw, 34.041vh) scale(0.5925);
  }
  to {
    transform: translate(17.5908vw, 100vh) scale(0.5925);
  }
}
.snow:nth-child(6) {
  opacity: 0.1261;
  transform: translate(70.669vw, -10px) scale(0.0638);
  animation: fall-6 30s -22s linear infinite;
}
@keyframes fall-6 {
  71.272% {
    transform: translate(61.5081vw, 71.272vh) scale(0.0638);
  }
  to {
    transform: translate(66.08855vw, 100vh) scale(0.0638);
  }
}
.snow:nth-child(7) {
  opacity: 0.3708;
  transform: translate(68.5976vw, -10px) scale(0.2597);
  animation: fall-7 15s -24s linear infinite;
}
@keyframes fall-7 {
  35.771% {
    transform: translate(74.1137vw, 35.771vh) scale(0.2597);
  }
  to {
    transform: translate(71.35565vw, 100vh) scale(0.2597);
  }
}
.snow:nth-child(8) {
  opacity: 0.43;
  transform: translate(73.4467vw, -10px) scale(0.0679);
  animation: fall-8 20s -3s linear infinite;
}
@keyframes fall-8 {
  52.975% {
    transform: translate(82.4384vw, 52.975vh) scale(0.0679);
  }
  to {
    transform: translate(77.94255vw, 100vh) scale(0.0679);
  }
}
.snow:nth-child(9) {
  opacity: 0.2521;
  transform: translate(68.1739vw, -10px) scale(0.1708);
  animation: fall-9 30s -25s linear infinite;
}
@keyframes fall-9 {
  77.492% {
    transform: translate(61.1037vw, 77.492vh) scale(0.1708);
  }
  to {
    transform: translate(64.6388vw, 100vh) scale(0.1708);
  }
}
.snow:nth-child(10) {
  opacity: 0.116;
  transform: translate(33.8185vw, -10px) scale(0.9151);
  animation: fall-10 24s -17s linear infinite;
}
@keyframes fall-10 {
  78.869% {
    transform: translate(27.2921vw, 78.869vh) scale(0.9151);
  }
  to {
    transform: translate(30.5553vw, 100vh) scale(0.9151);
  }
}
.snow:nth-child(11) {
  opacity: 0.0495;
  transform: translate(73.8133vw, -10px) scale(0.0287);
  animation: fall-11 29s -18s linear infinite;
}
@keyframes fall-11 {
  74.791% {
    transform: translate(77.7019vw, 74.791vh) scale(0.0287);
  }
  to {
    transform: translate(75.7576vw, 100vh) scale(0.0287);
  }
}
.snow:nth-child(12) {
  opacity: 0.2073;
  transform: translate(19.1023vw, -10px) scale(0.9348);
  animation: fall-12 21s -1s linear infinite;
}
@keyframes fall-12 {
  48.491% {
    transform: translate(24.634vw, 48.491vh) scale(0.9348);
  }
  to {
    transform: translate(21.86815vw, 100vh) scale(0.9348);
  }
}
.snow:nth-child(13) {
  opacity: 0.1678;
  transform: translate(35.0867vw, -10px) scale(0.7183);
  animation: fall-13 24s -2s linear infinite;
}
@keyframes fall-13 {
  71.028% {
    transform: translate(43.3189vw, 71.028vh) scale(0.7183);
  }
  to {
    transform: translate(39.2028vw, 100vh) scale(0.7183);
  }
}
.snow:nth-child(14) {
  opacity: 0.3059;
  transform: translate(5.7263vw, -10px) scale(0.5397);
  animation: fall-14 29s -28s linear infinite;
}
@keyframes fall-14 {
  31.56% {
    transform: translate(-2.8183vw, 31.56vh) scale(0.5397);
  }
  to {
    transform: translate(1.454vw, 100vh) scale(0.5397);
  }
}
.snow:nth-child(15) {
  opacity: 0.3669;
  transform: translate(52.9359vw, -10px) scale(0.6499);
  animation: fall-15 15s -4s linear infinite;
}
@keyframes fall-15 {
  33.524% {
    transform: translate(55.8891vw, 33.524vh) scale(0.6499);
  }
  to {
    transform: translate(54.4125vw, 100vh) scale(0.6499);
  }
}
.snow:nth-child(16) {
  opacity: 0.962;
  transform: translate(58.2979vw, -10px) scale(0.5069);
  animation: fall-16 15s -24s linear infinite;
}
@keyframes fall-16 {
  73.623% {
    transform: translate(57.8697vw, 73.623vh) scale(0.5069);
  }
  to {
    transform: translate(58.0838vw, 100vh) scale(0.5069);
  }
}
.snow:nth-child(17) {
  opacity: 0.5216;
  transform: translate(54.3021vw, -10px) scale(0.2942);
  animation: fall-17 13s -2s linear infinite;
}
@keyframes fall-17 {
  79.096% {
    transform: translate(48.4617vw, 79.096vh) scale(0.2942);
  }
  to {
    transform: translate(51.3819vw, 100vh) scale(0.2942);
  }
}
.snow:nth-child(18) {
  opacity: 0.238;
  transform: translate(7.3868vw, -10px) scale(0.3842);
  animation: fall-18 29s -16s linear infinite;
}
@keyframes fall-18 {
  72.586% {
    transform: translate(6.1611vw, 72.586vh) scale(0.3842);
  }
  to {
    transform: translate(6.77395vw, 100vh) scale(0.3842);
  }
}
.snow:nth-child(19) {
  opacity: 0.8056;
  transform: translate(12.6666vw, -10px) scale(0.8613);
  animation: fall-19 15s -29s linear infinite;
}
@keyframes fall-19 {
  73.115% {
    transform: translate(5.2639vw, 73.115vh) scale(0.8613);
  }
  to {
    transform: translate(8.96525vw, 100vh) scale(0.8613);
  }
}
.snow:nth-child(20) {
  opacity: 0.3182;
  transform: translate(27.0235vw, -10px) scale(0.1795);
  animation: fall-20 12s -30s linear infinite;
}
@keyframes fall-20 {
  64.496% {
    transform: translate(30.6778vw, 64.496vh) scale(0.1795);
  }
  to {
    transform: translate(28.85065vw, 100vh) scale(0.1795);
  }
}
.snow:nth-child(21) {
  opacity: 0.4796;
  transform: translate(73.4088vw, -10px) scale(0.0587);
  animation: fall-21 12s -12s linear infinite;
}
@keyframes fall-21 {
  78.364% {
    transform: translate(81.5897vw, 78.364vh) scale(0.0587);
  }
  to {
    transform: translate(77.49925vw, 100vh) scale(0.0587);
  }
}
.snow:nth-child(22) {
  opacity: 0.5836;
  transform: translate(50.9802vw, -10px) scale(0.891);
  animation: fall-22 16s -4s linear infinite;
}
@keyframes fall-22 {
  76.506% {
    transform: translate(51.2086vw, 76.506vh) scale(0.891);
  }
  to {
    transform: translate(51.0944vw, 100vh) scale(0.891);
  }
}
.snow:nth-child(23) {
  opacity: 0.2142;
  transform: translate(3.1025vw, -10px) scale(0.8329);
  animation: fall-23 17s -12s linear infinite;
}
@keyframes fall-23 {
  71.875% {
    transform: translate(6.757vw, 71.875vh) scale(0.8329);
  }
  to {
    transform: translate(4.92975vw, 100vh) scale(0.8329);
  }
}
.snow:nth-child(24) {
  opacity: 0.7457;
  transform: translate(69.1401vw, -10px) scale(0.2486);
  animation: fall-24 22s -30s linear infinite;
}
@keyframes fall-24 {
  40.117% {
    transform: translate(65.6484vw, 40.117vh) scale(0.2486);
  }
  to {
    transform: translate(67.39425vw, 100vh) scale(0.2486);
  }
}
.snow:nth-child(25) {
  opacity: 0.8682;
  transform: translate(39.1954vw, -10px) scale(0.468);
  animation: fall-25 21s -18s linear infinite;
}
@keyframes fall-25 {
  62.768% {
    transform: translate(35.7854vw, 62.768vh) scale(0.468);
  }
  to {
    transform: translate(37.4904vw, 100vh) scale(0.468);
  }
}
.snow:nth-child(26) {
  opacity: 0.9619;
  transform: translate(86.4396vw, -10px) scale(0.9781);
  animation: fall-26 14s -20s linear infinite;
}
@keyframes fall-26 {
  78.439% {
    transform: translate(91.563vw, 78.439vh) scale(0.9781);
  }
  to {
    transform: translate(89.0013vw, 100vh) scale(0.9781);
  }
}
.snow:nth-child(27) {
  opacity: 0.2494;
  transform: translate(45.8561vw, -10px) scale(0.4349);
  animation: fall-27 23s -4s linear infinite;
}
@keyframes fall-27 {
  65.521% {
    transform: translate(55.1182vw, 65.521vh) scale(0.4349);
  }
  to {
    transform: translate(50.48715vw, 100vh) scale(0.4349);
  }
}
.snow:nth-child(28) {
  opacity: 0.7783;
  transform: translate(9.1375vw, -10px) scale(0.9075);
  animation: fall-28 25s -13s linear infinite;
}
@keyframes fall-28 {
  59.646% {
    transform: translate(4.8379vw, 59.646vh) scale(0.9075);
  }
  to {
    transform: translate(6.9877vw, 100vh) scale(0.9075);
  }
}
.snow:nth-child(29) {
  opacity: 0.4166;
  transform: translate(88.3333vw, -10px) scale(0.177);
  animation: fall-29 16s -6s linear infinite;
}
@keyframes fall-29 {
  65.923% {
    transform: translate(89.981vw, 65.923vh) scale(0.177);
  }
  to {
    transform: translate(89.15715vw, 100vh) scale(0.177);
  }
}
.snow:nth-child(30) {
  opacity: 0.3056;
  transform: translate(82.5808vw, -10px) scale(0.4142);
  animation: fall-30 23s -12s linear infinite;
}
@keyframes fall-30 {
  53.532% {
    transform: translate(86.7697vw, 53.532vh) scale(0.4142);
  }
  to {
    transform: translate(84.67525vw, 100vh) scale(0.4142);
  }
}
.snow:nth-child(31) {
  opacity: 0.3612;
  transform: translate(1.7304vw, -10px) scale(0.9726);
  animation: fall-31 13s -16s linear infinite;
}
@keyframes fall-31 {
  43.318% {
    transform: translate(0.9087vw, 43.318vh) scale(0.9726);
  }
  to {
    transform: translate(1.31955vw, 100vh) scale(0.9726);
  }
}
.snow:nth-child(32) {
  opacity: 0.6356;
  transform: translate(94.3916vw, -10px) scale(0.8858);
  animation: fall-32 21s -2s linear infinite;
}
@keyframes fall-32 {
  43.108% {
    transform: translate(94.0034vw, 43.108vh) scale(0.8858);
  }
  to {
    transform: translate(94.1975vw, 100vh) scale(0.8858);
  }
}
.snow:nth-child(33) {
  opacity: 0.0955;
  transform: translate(11.9435vw, -10px) scale(0.9401);
  animation: fall-33 26s -28s linear infinite;
}
@keyframes fall-33 {
  56.489% {
    transform: translate(14.5859vw, 56.489vh) scale(0.9401);
  }
  to {
    transform: translate(13.2647vw, 100vh) scale(0.9401);
  }
}
.snow:nth-child(34) {
  opacity: 0.8281;
  transform: translate(97.952vw, -10px) scale(0.8725);
  animation: fall-34 23s -20s linear infinite;
}
@keyframes fall-34 {
  68.285% {
    transform: translate(100.0625vw, 68.285vh) scale(0.8725);
  }
  to {
    transform: translate(99.00725vw, 100vh) scale(0.8725);
  }
}
.snow:nth-child(35) {
  opacity: 0.8877;
  transform: translate(26.5066vw, -10px) scale(0.6995);
  animation: fall-35 12s -4s linear infinite;
}
@keyframes fall-35 {
  56.484% {
    transform: translate(33.8259vw, 56.484vh) scale(0.6995);
  }
  to {
    transform: translate(30.16625vw, 100vh) scale(0.6995);
  }
}
.snow:nth-child(36) {
  opacity: 0.0158;
  transform: translate(35.3014vw, -10px) scale(0.5683);
  animation: fall-36 19s -10s linear infinite;
}
@keyframes fall-36 {
  31.14% {
    transform: translate(39.378vw, 31.14vh) scale(0.5683);
  }
  to {
    transform: translate(37.3397vw, 100vh) scale(0.5683);
  }
}
.snow:nth-child(37) {
  opacity: 0.1218;
  transform: translate(42.8507vw, -10px) scale(0.3768);
  animation: fall-37 17s -12s linear infinite;
}
@keyframes fall-37 {
  62.498% {
    transform: translate(40.2641vw, 62.498vh) scale(0.3768);
  }
  to {
    transform: translate(41.5574vw, 100vh) scale(0.3768);
  }
}
.snow:nth-child(38) {
  opacity: 0.5026;
  transform: translate(46.8902vw, -10px) scale(0.1832);
  animation: fall-38 20s -27s linear infinite;
}
@keyframes fall-38 {
  61.813% {
    transform: translate(56.8568vw, 61.813vh) scale(0.1832);
  }
  to {
    transform: translate(51.8735vw, 100vh) scale(0.1832);
  }
}
.snow:nth-child(39) {
  opacity: 0.9425;
  transform: translate(16.2308vw, -10px) scale(0.9129);
  animation: fall-39 14s -15s linear infinite;
}
@keyframes fall-39 {
  75.561% {
    transform: translate(13.8356vw, 75.561vh) scale(0.9129);
  }
  to {
    transform: translate(15.0332vw, 100vh) scale(0.9129);
  }
}
.snow:nth-child(40) {
  opacity: 0.4549;
  transform: translate(34.447vw, -10px) scale(0.3261);
  animation: fall-40 15s -8s linear infinite;
}
@keyframes fall-40 {
  70.104% {
    transform: translate(33.8142vw, 70.104vh) scale(0.3261);
  }
  to {
    transform: translate(34.1306vw, 100vh) scale(0.3261);
  }
}
.snow:nth-child(41) {
  opacity: 0.5163;
  transform: translate(94.2728vw, -10px) scale(0.6484);
  animation: fall-41 17s -16s linear infinite;
}
@keyframes fall-41 {
  69.508% {
    transform: translate(98.1681vw, 69.508vh) scale(0.6484);
  }
  to {
    transform: translate(96.22045vw, 100vh) scale(0.6484);
  }
}
.snow:nth-child(42) {
  opacity: 0.7898;
  transform: translate(6.758vw, -10px) scale(0.0182);
  animation: fall-42 18s -17s linear infinite;
}
@keyframes fall-42 {
  34.553% {
    transform: translate(9.4573vw, 34.553vh) scale(0.0182);
  }
  to {
    transform: translate(8.10765vw, 100vh) scale(0.0182);
  }
}
.snow:nth-child(43) {
  opacity: 0.92;
  transform: translate(2.7299vw, -10px) scale(0.673);
  animation: fall-43 29s -17s linear infinite;
}
@keyframes fall-43 {
  34.514% {
    transform: translate(9.7017vw, 34.514vh) scale(0.673);
  }
  to {
    transform: translate(6.2158vw, 100vh) scale(0.673);
  }
}
.snow:nth-child(44) {
  opacity: 0.0681;
  transform: translate(43.6177vw, -10px) scale(0.5999);
  animation: fall-44 30s -1s linear infinite;
}
@keyframes fall-44 {
  37.065% {
    transform: translate(43.2447vw, 37.065vh) scale(0.5999);
  }
  to {
    transform: translate(43.4312vw, 100vh) scale(0.5999);
  }
}
.snow:nth-child(45) {
  opacity: 0.3492;
  transform: translate(30.7688vw, -10px) scale(0.3997);
  animation: fall-45 30s -18s linear infinite;
}
@keyframes fall-45 {
  47.061% {
    transform: translate(28.0823vw, 47.061vh) scale(0.3997);
  }
  to {
    transform: translate(29.42555vw, 100vh) scale(0.3997);
  }
}
.snow:nth-child(46) {
  opacity: 0.6881;
  transform: translate(17.5243vw, -10px) scale(0.8585);
  animation: fall-46 18s -7s linear infinite;
}
@keyframes fall-46 {
  43.016% {
    transform: translate(27.5216vw, 43.016vh) scale(0.8585);
  }
  to {
    transform: translate(22.52295vw, 100vh) scale(0.8585);
  }
}
.snow:nth-child(47) {
  opacity: 0.0729;
  transform: translate(63.5837vw, -10px) scale(0.5926);
  animation: fall-47 10s -20s linear infinite;
}
@keyframes fall-47 {
  70.498% {
    transform: translate(61.1008vw, 70.498vh) scale(0.5926);
  }
  to {
    transform: translate(62.34225vw, 100vh) scale(0.5926);
  }
}
.snow:nth-child(48) {
  opacity: 0.1423;
  transform: translate(88.8916vw, -10px) scale(0.4786);
  animation: fall-48 29s -12s linear infinite;
}
@keyframes fall-48 {
  43.253% {
    transform: translate(81.7686vw, 43.253vh) scale(0.4786);
  }
  to {
    transform: translate(85.3301vw, 100vh) scale(0.4786);
  }
}
.snow:nth-child(49) {
  opacity: 0.2496;
  transform: translate(57.6651vw, -10px) scale(0.3822);
  animation: fall-49 19s -10s linear infinite;
}
@keyframes fall-49 {
  54.013% {
    transform: translate(64.5897vw, 54.013vh) scale(0.3822);
  }
  to {
    transform: translate(61.1274vw, 100vh) scale(0.3822);
  }
}
.snow:nth-child(50) {
  opacity: 0.7032;
  transform: translate(6.6009vw, -10px) scale(0.5907);
  animation: fall-50 23s -19s linear infinite;
}
@keyframes fall-50 {
  40.204% {
    transform: translate(13.456vw, 40.204vh) scale(0.5907);
  }
  to {
    transform: translate(10.02845vw, 100vh) scale(0.5907);
  }
}
.snow:nth-child(51) {
  opacity: 0.5094;
  transform: translate(40.6102vw, -10px) scale(0.0502);
  animation: fall-51 20s -18s linear infinite;
}
@keyframes fall-51 {
  67.229% {
    transform: translate(33.7302vw, 67.229vh) scale(0.0502);
  }
  to {
    transform: translate(37.1702vw, 100vh) scale(0.0502);
  }
}
.snow:nth-child(52) {
  opacity: 0.1445;
  transform: translate(8.8614vw, -10px) scale(0.3811);
  animation: fall-52 29s -3s linear infinite;
}
@keyframes fall-52 {
  39.293% {
    transform: translate(16.6235vw, 39.293vh) scale(0.3811);
  }
  to {
    transform: translate(12.74245vw, 100vh) scale(0.3811);
  }
}
.snow:nth-child(53) {
  opacity: 0.5304;
  transform: translate(38.6088vw, -10px) scale(0.1599);
  animation: fall-53 21s -15s linear infinite;
}
@keyframes fall-53 {
  51.16% {
    transform: translate(47.9883vw, 51.16vh) scale(0.1599);
  }
  to {
    transform: translate(43.29855vw, 100vh) scale(0.1599);
  }
}
.snow:nth-child(54) {
  opacity: 0.028;
  transform: translate(3.7767vw, -10px) scale(0.8282);
  animation: fall-54 24s -15s linear infinite;
}
@keyframes fall-54 {
  36.467% {
    transform: translate(-2.1202vw, 36.467vh) scale(0.8282);
  }
  to {
    transform: translate(0.82825vw, 100vh) scale(0.8282);
  }
}
.snow:nth-child(55) {
  opacity: 0.4479;
  transform: translate(6.1718vw, -10px) scale(0.4864);
  animation: fall-55 24s -6s linear infinite;
}
@keyframes fall-55 {
  33.484% {
    transform: translate(-0.6453vw, 33.484vh) scale(0.4864);
  }
  to {
    transform: translate(2.76325vw, 100vh) scale(0.4864);
  }
}
.snow:nth-child(56) {
  opacity: 0.7159;
  transform: translate(82.7043vw, -10px) scale(0.0477);
  animation: fall-56 25s -3s linear infinite;
}
@keyframes fall-56 {
  34.215% {
    transform: translate(78.7144vw, 34.215vh) scale(0.0477);
  }
  to {
    transform: translate(80.70935vw, 100vh) scale(0.0477);
  }
}
.snow:nth-child(57) {
  opacity: 0.4672;
  transform: translate(67.1288vw, -10px) scale(0.9276);
  animation: fall-57 19s -2s linear infinite;
}
@keyframes fall-57 {
  40.723% {
    transform: translate(65.3892vw, 40.723vh) scale(0.9276);
  }
  to {
    transform: translate(66.259vw, 100vh) scale(0.9276);
  }
}
.snow:nth-child(58) {
  opacity: 0.1471;
  transform: translate(70.018vw, -10px) scale(0.4313);
  animation: fall-58 10s -30s linear infinite;
}
@keyframes fall-58 {
  69.777% {
    transform: translate(76.4187vw, 69.777vh) scale(0.4313);
  }
  to {
    transform: translate(73.21835vw, 100vh) scale(0.4313);
  }
}
.snow:nth-child(59) {
  opacity: 0.0791;
  transform: translate(95.6255vw, -10px) scale(0.9241);
  animation: fall-59 22s -8s linear infinite;
}
@keyframes fall-59 {
  76.501% {
    transform: translate(89.3135vw, 76.501vh) scale(0.9241);
  }
  to {
    transform: translate(92.4695vw, 100vh) scale(0.9241);
  }
}
.snow:nth-child(60) {
  opacity: 0.4976;
  transform: translate(73.183vw, -10px) scale(0.2866);
  animation: fall-60 18s -28s linear infinite;
}
@keyframes fall-60 {
  65.572% {
    transform: translate(77.2693vw, 65.572vh) scale(0.2866);
  }
  to {
    transform: translate(75.22615vw, 100vh) scale(0.2866);
  }
}
.snow:nth-child(61) {
  opacity: 0.148;
  transform: translate(5.4936vw, -10px) scale(0.0818);
  animation: fall-61 10s -7s linear infinite;
}
@keyframes fall-61 {
  46.765% {
    transform: translate(9.4466vw, 46.765vh) scale(0.0818);
  }
  to {
    transform: translate(7.4701vw, 100vh) scale(0.0818);
  }
}
.snow:nth-child(62) {
  opacity: 0.8892;
  transform: translate(55.719vw, -10px) scale(0.9065);
  animation: fall-62 29s -5s linear infinite;
}
@keyframes fall-62 {
  78.317% {
    transform: translate(47.6713vw, 78.317vh) scale(0.9065);
  }
  to {
    transform: translate(51.69515vw, 100vh) scale(0.9065);
  }
}
.snow:nth-child(63) {
  opacity: 0.4352;
  transform: translate(42.9347vw, -10px) scale(0.7754);
  animation: fall-63 12s -23s linear infinite;
}
@keyframes fall-63 {
  64.291% {
    transform: translate(41.0061vw, 64.291vh) scale(0.7754);
  }
  to {
    transform: translate(41.9704vw, 100vh) scale(0.7754);
  }
}
.snow:nth-child(64) {
  opacity: 0.5446;
  transform: translate(7.8503vw, -10px) scale(0.624);
  animation: fall-64 17s -6s linear infinite;
}
@keyframes fall-64 {
  43.351% {
    transform: translate(10.8716vw, 43.351vh) scale(0.624);
  }
  to {
    transform: translate(9.36095vw, 100vh) scale(0.624);
  }
}
.snow:nth-child(65) {
  opacity: 0.2022;
  transform: translate(52.8554vw, -10px) scale(0.7292);
  animation: fall-65 17s -5s linear infinite;
}
@keyframes fall-65 {
  58.707% {
    transform: translate(55.5758vw, 58.707vh) scale(0.7292);
  }
  to {
    transform: translate(54.2156vw, 100vh) scale(0.7292);
  }
}
.snow:nth-child(66) {
  opacity: 0.1199;
  transform: translate(11.2338vw, -10px) scale(0.3485);
  animation: fall-66 17s -10s linear infinite;
}
@keyframes fall-66 {
  53.268% {
    transform: translate(5.223vw, 53.268vh) scale(0.3485);
  }
  to {
    transform: translate(8.2284vw, 100vh) scale(0.3485);
  }
}
.snow:nth-child(67) {
  opacity: 0.6863;
  transform: translate(71.3088vw, -10px) scale(0.8772);
  animation: fall-67 29s -13s linear infinite;
}
@keyframes fall-67 {
  45.205% {
    transform: translate(77.8612vw, 45.205vh) scale(0.8772);
  }
  to {
    transform: translate(74.585vw, 100vh) scale(0.8772);
  }
}
.snow:nth-child(68) {
  opacity: 0.8968;
  transform: translate(4.2924vw, -10px) scale(0.1163);
  animation: fall-68 27s -7s linear infinite;
}
@keyframes fall-68 {
  38.589% {
    transform: translate(-3.7735vw, 38.589vh) scale(0.1163);
  }
  to {
    transform: translate(0.25945vw, 100vh) scale(0.1163);
  }
}
.snow:nth-child(69) {
  opacity: 0.6666;
  transform: translate(96.4574vw, -10px) scale(0.6085);
  animation: fall-69 22s -18s linear infinite;
}
@keyframes fall-69 {
  38.542% {
    transform: translate(98.3784vw, 38.542vh) scale(0.6085);
  }
  to {
    transform: translate(97.4179vw, 100vh) scale(0.6085);
  }
}
.snow:nth-child(70) {
  opacity: 0.8235;
  transform: translate(31.4625vw, -10px) scale(0.9605);
  animation: fall-70 19s -10s linear infinite;
}
@keyframes fall-70 {
  30.832% {
    transform: translate(38.0516vw, 30.832vh) scale(0.9605);
  }
  to {
    transform: translate(34.75705vw, 100vh) scale(0.9605);
  }
}
.snow:nth-child(71) {
  opacity: 0.3962;
  transform: translate(38.5282vw, -10px) scale(0.1979);
  animation: fall-71 14s -17s linear infinite;
}
@keyframes fall-71 {
  54.471% {
    transform: translate(32.5868vw, 54.471vh) scale(0.1979);
  }
  to {
    transform: translate(35.5575vw, 100vh) scale(0.1979);
  }
}
.snow:nth-child(72) {
  opacity: 0.0855;
  transform: translate(60.9644vw, -10px) scale(0.7274);
  animation: fall-72 25s -9s linear infinite;
}
@keyframes fall-72 {
  69.962% {
    transform: translate(68.2616vw, 69.962vh) scale(0.7274);
  }
  to {
    transform: translate(64.613vw, 100vh) scale(0.7274);
  }
}
.snow:nth-child(73) {
  opacity: 0.071;
  transform: translate(71.1931vw, -10px) scale(0.1189);
  animation: fall-73 25s -17s linear infinite;
}
@keyframes fall-73 {
  77.873% {
    transform: translate(79.6795vw, 77.873vh) scale(0.1189);
  }
  to {
    transform: translate(75.4363vw, 100vh) scale(0.1189);
  }
}
.snow:nth-child(74) {
  opacity: 0.719;
  transform: translate(3.1518vw, -10px) scale(0.2637);
  animation: fall-74 12s -16s linear infinite;
}
@keyframes fall-74 {
  37.649% {
    transform: translate(2.3412vw, 37.649vh) scale(0.2637);
  }
  to {
    transform: translate(2.7465vw, 100vh) scale(0.2637);
  }
}
.snow:nth-child(75) {
  opacity: 0.8932;
  transform: translate(27.7642vw, -10px) scale(0.1088);
  animation: fall-75 20s -26s linear infinite;
}
@keyframes fall-75 {
  76.388% {
    transform: translate(19.0325vw, 76.388vh) scale(0.1088);
  }
  to {
    transform: translate(23.39835vw, 100vh) scale(0.1088);
  }
}
.snow:nth-child(76) {
  opacity: 0.4892;
  transform: translate(12.1728vw, -10px) scale(0.7286);
  animation: fall-76 21s -5s linear infinite;
}
@keyframes fall-76 {
  43.784% {
    transform: translate(3.2473vw, 43.784vh) scale(0.7286);
  }
  to {
    transform: translate(7.71005vw, 100vh) scale(0.7286);
  }
}
.snow:nth-child(77) {
  opacity: 0.7687;
  transform: translate(55.7846vw, -10px) scale(0.2378);
  animation: fall-77 20s -24s linear infinite;
}
@keyframes fall-77 {
  60.125% {
    transform: translate(49.0492vw, 60.125vh) scale(0.2378);
  }
  to {
    transform: translate(52.4169vw, 100vh) scale(0.2378);
  }
}
.snow:nth-child(78) {
  opacity: 0.3321;
  transform: translate(0.3774vw, -10px) scale(0.2656);
  animation: fall-78 26s -9s linear infinite;
}
@keyframes fall-78 {
  69.226% {
    transform: translate(8.9727vw, 69.226vh) scale(0.2656);
  }
  to {
    transform: translate(4.67505vw, 100vh) scale(0.2656);
  }
}
.snow:nth-child(79) {
  opacity: 0.8145;
  transform: translate(88.487vw, -10px) scale(0.3181);
  animation: fall-79 24s -13s linear infinite;
}
@keyframes fall-79 {
  54.82% {
    transform: translate(91.4318vw, 54.82vh) scale(0.3181);
  }
  to {
    transform: translate(89.9594vw, 100vh) scale(0.3181);
  }
}
.snow:nth-child(80) {
  opacity: 0.0908;
  transform: translate(7.8102vw, -10px) scale(0.4795);
  animation: fall-80 28s -7s linear infinite;
}
@keyframes fall-80 {
  67.017% {
    transform: translate(6.517vw, 67.017vh) scale(0.4795);
  }
  to {
    transform: translate(7.1636vw, 100vh) scale(0.4795);
  }
}
.snow:nth-child(81) {
  opacity: 0.0818;
  transform: translate(45.9445vw, -10px) scale(0.9026);
  animation: fall-81 24s -20s linear infinite;
}
@keyframes fall-81 {
  66.76% {
    transform: translate(52.3542vw, 66.76vh) scale(0.9026);
  }
  to {
    transform: translate(49.14935vw, 100vh) scale(0.9026);
  }
}
.snow:nth-child(82) {
  opacity: 0.2741;
  transform: translate(81.9981vw, -10px) scale(0.3598);
  animation: fall-82 14s -8s linear infinite;
}
@keyframes fall-82 {
  32.067% {
    transform: translate(86.5659vw, 32.067vh) scale(0.3598);
  }
  to {
    transform: translate(84.282vw, 100vh) scale(0.3598);
  }
}
.snow:nth-child(83) {
  opacity: 0.8594;
  transform: translate(89.0042vw, -10px) scale(0.0697);
  animation: fall-83 23s -18s linear infinite;
}
@keyframes fall-83 {
  44.292% {
    transform: translate(86.7554vw, 44.292vh) scale(0.0697);
  }
  to {
    transform: translate(87.8798vw, 100vh) scale(0.0697);
  }
}
.snow:nth-child(84) {
  opacity: 0.1329;
  transform: translate(56.0262vw, -10px) scale(0.3476);
  animation: fall-84 15s -7s linear infinite;
}
@keyframes fall-84 {
  63.861% {
    transform: translate(51.3844vw, 63.861vh) scale(0.3476);
  }
  to {
    transform: translate(53.7053vw, 100vh) scale(0.3476);
  }
}
.snow:nth-child(85) {
  opacity: 0.1942;
  transform: translate(72.2159vw, -10px) scale(0.3206);
  animation: fall-85 14s -12s linear infinite;
}
@keyframes fall-85 {
  69.164% {
    transform: translate(66.2334vw, 69.164vh) scale(0.3206);
  }
  to {
    transform: translate(69.22465vw, 100vh) scale(0.3206);
  }
}
.snow:nth-child(86) {
  opacity: 0.921;
  transform: translate(91.4034vw, -10px) scale(0.2223);
  animation: fall-86 22s -28s linear infinite;
}
@keyframes fall-86 {
  64.236% {
    transform: translate(93.1137vw, 64.236vh) scale(0.2223);
  }
  to {
    transform: translate(92.25855vw, 100vh) scale(0.2223);
  }
}
.snow:nth-child(87) {
  opacity: 0.9843;
  transform: translate(94.4714vw, -10px) scale(0.9556);
  animation: fall-87 27s -12s linear infinite;
}
@keyframes fall-87 {
  71.194% {
    transform: translate(98.8748vw, 71.194vh) scale(0.9556);
  }
  to {
    transform: translate(96.6731vw, 100vh) scale(0.9556);
  }
}
.snow:nth-child(88) {
  opacity: 0.5729;
  transform: translate(67.4279vw, -10px) scale(0.364);
  animation: fall-88 11s -1s linear infinite;
}
@keyframes fall-88 {
  33.688% {
    transform: translate(76.1902vw, 33.688vh) scale(0.364);
  }
  to {
    transform: translate(71.80905vw, 100vh) scale(0.364);
  }
}
.snow:nth-child(89) {
  opacity: 0.8622;
  transform: translate(46.9276vw, -10px) scale(0.9172);
  animation: fall-89 18s -3s linear infinite;
}
@keyframes fall-89 {
  56.114% {
    transform: translate(42.8621vw, 56.114vh) scale(0.9172);
  }
  to {
    transform: translate(44.89485vw, 100vh) scale(0.9172);
  }
}
.snow:nth-child(90) {
  opacity: 0.0358;
  transform: translate(71.4943vw, -10px) scale(0.5634);
  animation: fall-90 22s -3s linear infinite;
}
@keyframes fall-90 {
  77.455% {
    transform: translate(80.5043vw, 77.455vh) scale(0.5634);
  }
  to {
    transform: translate(75.9993vw, 100vh) scale(0.5634);
  }
}
.snow:nth-child(91) {
  opacity: 0.9378;
  transform: translate(26.559vw, -10px) scale(0.8003);
  animation: fall-91 29s -22s linear infinite;
}
@keyframes fall-91 {
  39.729% {
    transform: translate(18.216vw, 39.729vh) scale(0.8003);
  }
  to {
    transform: translate(22.3875vw, 100vh) scale(0.8003);
  }
}
.snow:nth-child(92) {
  opacity: 0.0396;
  transform: translate(73.3057vw, -10px) scale(0.5799);
  animation: fall-92 23s -24s linear infinite;
}
@keyframes fall-92 {
  78.514% {
    transform: translate(80.0829vw, 78.514vh) scale(0.5799);
  }
  to {
    transform: translate(76.6943vw, 100vh) scale(0.5799);
  }
}
.snow:nth-child(93) {
  opacity: 0.9976;
  transform: translate(46.9456vw, -10px) scale(0.3209);
  animation: fall-93 18s -25s linear infinite;
}
@keyframes fall-93 {
  33.767% {
    transform: translate(54.0002vw, 33.767vh) scale(0.3209);
  }
  to {
    transform: translate(50.4729vw, 100vh) scale(0.3209);
  }
}
.snow:nth-child(94) {
  opacity: 0.9943;
  transform: translate(73.8986vw, -10px) scale(0.4228);
  animation: fall-94 19s -7s linear infinite;
}
@keyframes fall-94 {
  61.991% {
    transform: translate(75.1692vw, 61.991vh) scale(0.4228);
  }
  to {
    transform: translate(74.5339vw, 100vh) scale(0.4228);
  }
}
.snow:nth-child(95) {
  opacity: 0.8909;
  transform: translate(56.4496vw, -10px) scale(0.1225);
  animation: fall-95 20s -14s linear infinite;
}
@keyframes fall-95 {
  36.59% {
    transform: translate(59.2047vw, 36.59vh) scale(0.1225);
  }
  to {
    transform: translate(57.82715vw, 100vh) scale(0.1225);
  }
}
.snow:nth-child(96) {
  opacity: 0.221;
  transform: translate(46.0391vw, -10px) scale(0.0634);
  animation: fall-96 17s -14s linear infinite;
}
@keyframes fall-96 {
  67.624% {
    transform: translate(50.4472vw, 67.624vh) scale(0.0634);
  }
  to {
    transform: translate(48.24315vw, 100vh) scale(0.0634);
  }
}
.snow:nth-child(97) {
  opacity: 0.3032;
  transform: translate(97.5452vw, -10px) scale(0.0881);
  animation: fall-97 21s -13s linear infinite;
}
@keyframes fall-97 {
  70.398% {
    transform: translate(93.4884vw, 70.398vh) scale(0.0881);
  }
  to {
    transform: translate(95.5168vw, 100vh) scale(0.0881);
  }
}
.snow:nth-child(98) {
  opacity: 0.5589;
  transform: translate(36.342vw, -10px) scale(0.5886);
  animation: fall-98 18s -23s linear infinite;
}
@keyframes fall-98 {
  66.508% {
    transform: translate(37.114vw, 66.508vh) scale(0.5886);
  }
  to {
    transform: translate(36.728vw, 100vh) scale(0.5886);
  }
}
.snow:nth-child(99) {
  opacity: 0.1865;
  transform: translate(81.4927vw, -10px) scale(0.4284);
  animation: fall-99 17s -20s linear infinite;
}
@keyframes fall-99 {
  65.971% {
    transform: translate(75.8166vw, 65.971vh) scale(0.4284);
  }
  to {
    transform: translate(78.65465vw, 100vh) scale(0.4284);
  }
}
.snow:nth-child(100) {
  opacity: 0.5835;
  transform: translate(86.071vw, -10px) scale(0.5775);
  animation: fall-100 27s -8s linear infinite;
}
@keyframes fall-100 {
  50.953% {
    transform: translate(92.5905vw, 50.953vh) scale(0.5775);
  }
  to {
    transform: translate(89.33075vw, 100vh) scale(0.5775);
  }
}
.snow:nth-child(101) {
  opacity: 0.4133;
  transform: translate(40.5344vw, -10px) scale(0.7655);
  animation: fall-101 22s -23s linear infinite;
}
@keyframes fall-101 {
  38.738% {
    transform: translate(43.3161vw, 38.738vh) scale(0.7655);
  }
  to {
    transform: translate(41.92525vw, 100vh) scale(0.7655);
  }
}
.snow:nth-child(102) {
  opacity: 0.992;
  transform: translate(96.4986vw, -10px) scale(0.908);
  animation: fall-102 17s -26s linear infinite;
}
@keyframes fall-102 {
  64.251% {
    transform: translate(103.4082vw, 64.251vh) scale(0.908);
  }
  to {
    transform: translate(99.9534vw, 100vh) scale(0.908);
  }
}
.snow:nth-child(103) {
  opacity: 0.0974;
  transform: translate(30.7123vw, -10px) scale(0.2278);
  animation: fall-103 22s -12s linear infinite;
}
@keyframes fall-103 {
  65.328% {
    transform: translate(21.527vw, 65.328vh) scale(0.2278);
  }
  to {
    transform: translate(26.11965vw, 100vh) scale(0.2278);
  }
}
.snow:nth-child(104) {
  opacity: 0.76;
  transform: translate(37.1544vw, -10px) scale(0.8628);
  animation: fall-104 19s -28s linear infinite;
}
@keyframes fall-104 {
  67.727% {
    transform: translate(41.8344vw, 67.727vh) scale(0.8628);
  }
  to {
    transform: translate(39.4944vw, 100vh) scale(0.8628);
  }
}
.snow:nth-child(105) {
  opacity: 0.0369;
  transform: translate(89.4437vw, -10px) scale(0.5007);
  animation: fall-105 27s -4s linear infinite;
}
@keyframes fall-105 {
  62.825% {
    transform: translate(92.6906vw, 62.825vh) scale(0.5007);
  }
  to {
    transform: translate(91.06715vw, 100vh) scale(0.5007);
  }
}
.snow:nth-child(106) {
  opacity: 0.3456;
  transform: translate(71.5871vw, -10px) scale(0.7373);
  animation: fall-106 21s -21s linear infinite;
}
@keyframes fall-106 {
  53.108% {
    transform: translate(80.6006vw, 53.108vh) scale(0.7373);
  }
  to {
    transform: translate(76.09385vw, 100vh) scale(0.7373);
  }
}
.snow:nth-child(107) {
  opacity: 0.3218;
  transform: translate(51.6734vw, -10px) scale(0.3322);
  animation: fall-107 18s -6s linear infinite;
}
@keyframes fall-107 {
  62.587% {
    transform: translate(54.9394vw, 62.587vh) scale(0.3322);
  }
  to {
    transform: translate(53.3064vw, 100vh) scale(0.3322);
  }
}
.snow:nth-child(108) {
  opacity: 0.381;
  transform: translate(53.3194vw, -10px) scale(0.2826);
  animation: fall-108 30s -16s linear infinite;
}
@keyframes fall-108 {
  55.004% {
    transform: translate(45.5535vw, 55.004vh) scale(0.2826);
  }
  to {
    transform: translate(49.43645vw, 100vh) scale(0.2826);
  }
}
.snow:nth-child(109) {
  opacity: 0.1532;
  transform: translate(67.7845vw, -10px) scale(0.1492);
  animation: fall-109 17s -27s linear infinite;
}
@keyframes fall-109 {
  30.038% {
    transform: translate(77.4376vw, 30.038vh) scale(0.1492);
  }
  to {
    transform: translate(72.61105vw, 100vh) scale(0.1492);
  }
}
.snow:nth-child(110) {
  opacity: 0.6451;
  transform: translate(66.7259vw, -10px) scale(0.2202);
  animation: fall-110 14s -22s linear infinite;
}
@keyframes fall-110 {
  30.908% {
    transform: translate(69.4375vw, 30.908vh) scale(0.2202);
  }
  to {
    transform: translate(68.0817vw, 100vh) scale(0.2202);
  }
}
.snow:nth-child(111) {
  opacity: 0.7322;
  transform: translate(66.4627vw, -10px) scale(0.2627);
  animation: fall-111 28s -8s linear infinite;
}
@keyframes fall-111 {
  39.203% {
    transform: translate(62.5889vw, 39.203vh) scale(0.2627);
  }
  to {
    transform: translate(64.5258vw, 100vh) scale(0.2627);
  }
}
.snow:nth-child(112) {
  opacity: 0.2963;
  transform: translate(65.3879vw, -10px) scale(0.4706);
  animation: fall-112 22s -11s linear infinite;
}
@keyframes fall-112 {
  57.932% {
    transform: translate(63.3995vw, 57.932vh) scale(0.4706);
  }
  to {
    transform: translate(64.3937vw, 100vh) scale(0.4706);
  }
}
.snow:nth-child(113) {
  opacity: 0.1885;
  transform: translate(22.9783vw, -10px) scale(0.6923);
  animation: fall-113 11s -2s linear infinite;
}
@keyframes fall-113 {
  45.118% {
    transform: translate(23.2515vw, 45.118vh) scale(0.6923);
  }
  to {
    transform: translate(23.1149vw, 100vh) scale(0.6923);
  }
}
.snow:nth-child(114) {
  opacity: 0.6584;
  transform: translate(51.7472vw, -10px) scale(0.324);
  animation: fall-114 10s -21s linear infinite;
}
@keyframes fall-114 {
  31.804% {
    transform: translate(61.2646vw, 31.804vh) scale(0.324);
  }
  to {
    transform: translate(56.5059vw, 100vh) scale(0.324);
  }
}
.snow:nth-child(115) {
  opacity: 0.3726;
  transform: translate(15.7984vw, -10px) scale(0.8982);
  animation: fall-115 22s -5s linear infinite;
}
@keyframes fall-115 {
  67.563% {
    transform: translate(22.6604vw, 67.563vh) scale(0.8982);
  }
  to {
    transform: translate(19.2294vw, 100vh) scale(0.8982);
  }
}
.snow:nth-child(116) {
  opacity: 0.375;
  transform: translate(34.194vw, -10px) scale(0.6682);
  animation: fall-116 16s -13s linear infinite;
}
@keyframes fall-116 {
  65.652% {
    transform: translate(39.9415vw, 65.652vh) scale(0.6682);
  }
  to {
    transform: translate(37.06775vw, 100vh) scale(0.6682);
  }
}
.snow:nth-child(117) {
  opacity: 0.6961;
  transform: translate(39.7243vw, -10px) scale(0.5581);
  animation: fall-117 14s -11s linear infinite;
}
@keyframes fall-117 {
  41.163% {
    transform: translate(35.537vw, 41.163vh) scale(0.5581);
  }
  to {
    transform: translate(37.63065vw, 100vh) scale(0.5581);
  }
}
.snow:nth-child(118) {
  opacity: 0.0454;
  transform: translate(11.4584vw, -10px) scale(0.8348);
  animation: fall-118 24s -25s linear infinite;
}
@keyframes fall-118 {
  79.729% {
    transform: translate(1.6769vw, 79.729vh) scale(0.8348);
  }
  to {
    transform: translate(6.56765vw, 100vh) scale(0.8348);
  }
}
.snow:nth-child(119) {
  opacity: 0.6143;
  transform: translate(56.2934vw, -10px) scale(0.904);
  animation: fall-119 22s -30s linear infinite;
}
@keyframes fall-119 {
  48.23% {
    transform: translate(63.1622vw, 48.23vh) scale(0.904);
  }
  to {
    transform: translate(59.7278vw, 100vh) scale(0.904);
  }
}
.snow:nth-child(120) {
  opacity: 0.8931;
  transform: translate(28.7192vw, -10px) scale(0.0154);
  animation: fall-120 22s -29s linear infinite;
}
@keyframes fall-120 {
  78.58% {
    transform: translate(34.7559vw, 78.58vh) scale(0.0154);
  }
  to {
    transform: translate(31.73755vw, 100vh) scale(0.0154);
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(184, 120, 2) rgb(219, 213, 202);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgb(219, 213, 202);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(58, 49, 45);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

@media all and (display-mode: fullscreen) {
  .panel {
    margin: 40px;
  }
  .lotteryPanel .lotteryBoard,
.lotteryPanel .lotteryBoard_overlay {
    height: 740px;
  }
  .logPanel {
    max-height: 670px;
  }
  .logPanel .logPanelContent {
    height: 627px;
  }
  .OCPanel {
    margin-top: 0;
  }
}

/*# sourceMappingURL=lottery.css.map */
