@font-face {
  font-family: "DFPT_AZ5";
  src: url("../assets/fonts/DFPT_AZ5.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "DFPT_ZY9";
  src: url("../assets/fonts/DFPT_ZY9.otf");
  font-style: normal;
  font-weight: normal;
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}

.stats {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(83, 83, 83);
  z-index: 83;
  font-family: "DFPT_ZY9";
  font-size: 1.5em;
  padding: 40px 70px 40px 30px;
  border-radius: 0 0 50px 0;
  line-height: 1.2em;
  color: #e0e0e0;
}
.stats .title {
  text-align: center;
  font-size: 1.5em;
  transform: rotate(-4deg);
  margin-bottom: 20px;
}
.stats span {
  color: rgb(252, 241, 183);
}

.topBar {
  width: 100%;
  padding-top: 20px;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 83;
}

.topBar_inner {
  height: 100%;
  position: relative;
}

.topBar_BG {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  background-color: rgb(159, 129, 228);
  height: 150px;
  border-radius: 0 0 0 100px;
}

.turingBar {
  display: flex;
  position: absolute;
  left: 50%;
  transition: transform 0.5s;
}

.oc {
  flex: 1;
  transition: all 0.5s;
}

.turingBar img {
  width: 100px;
  height: 100px;
}

.spotlight, .frame {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: -8px;
}

.spotlight {
  border: 8px transparent solid;
  transform: translate(-50%, 0);
}

.frame {
  border: 8px rgb(252, 241, 183) solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, 0) scale(1);
}

.current, .currentName {
  color: rgb(252, 241, 183);
  font-size: 2em;
  font-family: "DFPT_ZY9";
  text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.7);
}

.current {
  padding: 20px;
  position: absolute;
  top: -2%;
  left: -400%;
  transform: rotate(-2deg);
}

.currentName {
  text-align: center;
  width: 210px;
  position: absolute;
  top: 65%;
  left: -310%;
  transform: rotate(1deg);
}

.icon {
  z-index: 84;
  position: absolute;
  left: -70%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 60px;
}

.arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: rgb(252, 241, 183);
  box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.7);
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: rgb(252, 241, 183);
}

.arrow::after {
  top: -12px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 12px;
  box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.7);
  transform: rotate(-45deg);
}

.content {
  margin-top: 200px;
  padding: 0 30px;
}

.giftLogPanel {
  width: 260px;
  height: 800px;
  position: fixed;
  overflow: hidden;
  top: 160px;
}
.giftLogPanel ul {
  width: 277px;
  height: 100%;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  margin: 0;
}
.giftLogPanel ul li {
  position: relative;
  background-color: rgba(61, 61, 61, 0.521);
  border-radius: 10px;
  list-style: none;
  width: 250px;
  height: 80px;
  margin: 10px 0;
  opacity: 0;
  transition: all 0.3s;
}
.giftLogPanel ul li .chara {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 15px;
  transform: rotate(-5deg);
}
.giftLogPanel ul li .gift {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  right: 15px;
  transform: rotate(5deg);
}
.giftLogPanel ul li .label {
  font-size: smaller;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}
.giftLogPanel ul li .label div:nth-child(1) {
  border-bottom: 1px solid white;
  padding: 20px 20px 0 30px;
  text-align: left;
}
.giftLogPanel ul li .label div:nth-child(2) {
  padding: 0 20px 20px 20px;
  text-align: right;
}
.giftLogPanel ul li:first-child {
  margin-top: 65px;
}
.giftLogPanel ul li:last-child {
  margin-bottom: 50px;
}

.pool {
  background-color: rgb(207, 199, 177);
  margin: 0 10% 100px auto;
  width: 80%;
  max-width: 1100px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0 20px 0;
  list-style: none;
}

.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
  height: 150px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
  will-change: transform;
  perspective: 1000px;
}

.gridItem_inner {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  border: rgb(92, 83, 73) 1px solid;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.gridItem:hover .gridItem_inner {
  transform: scale(1.2);
}

.gift_front,
.gift_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.gift_front {
  cursor: pointer;
  background-position: center center;
}

.gift_back {
  background-color: rgb(190, 183, 163);
  color: white;
  transform: rotateY(180deg);
}

/*# sourceMappingURL=lottery.css.map */
