@font-face {
    font-family: "DFPT_AZ5";
    src: url("../assets/fonts/DFPT_AZ5.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "DFPT_ZY9";
    src: url("../assets/fonts/DFPT_ZY9.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Thelma";
    src: url("../assets/fonts/ThelmaPersonalUse.otf");
    font-style: normal;
    font-weight: normal;
}

$PROFILE_SIZE: 100px;
$SPOTLIGHT_BORDER_SIZE: 8px;

$ACCENT1: rgb(58, 49, 45);
$ACCENT2: rgb(82, 68, 61);
$ACCENT3: rgb(179, 170, 156);
$ACCENT4: rgb(252, 241, 183);
$ACCENT5: rgb(219, 213, 202);
$ACCENT6: rgb(184, 120, 2);
$ACCENT7: rgb(219, 149, 19);
$ACCENT_WOOPA: rgb(250, 200, 200);

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-position: center 40%;
    background-size: auto;
    background-image: url(../assets/lottery/bg2.jpg);
}

//===================//
//===   GENERAL   ===//
//===================//

.panelWarp {
    width: 100%;
    display: flex;
}

.panel {
    margin: 24px;
    border: $ACCENT1 8px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 0px rgba(255, 245, 201, 0.4);
}

.panelHeader {
    background: $ACCENT1;
    font-size: 1.3em;
    font-family: "DFPT_AZ5";
    color: $ACCENT5;
    padding: 8px 8px 14px 8px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
    span:nth-child(1) {
        color: $ACCENT7 !important;
    }
    span:nth-child(2) {
        float: right;
        padding-top: 2px;
        font-size: 0.7em;
        word-spacing: 5px;
        span{
            color: $ACCENT7 !important;
        }
    }
}

//=====================//
//===   LOG BOARD   ===//
//=====================//

$LOG_PANEL_HIGHT: 600px;

.logPanel {
    position: relative;
    margin-right: 16px !important;
    max-height: $LOG_PANEL_HIGHT;
    .title {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
        background-color: $ACCENT1;
        color: $ACCENT3;
        font-size: 1.5em;
        padding: 10px;
        border-radius: 8px;
    }
    .logPanelContent {
        background-color: rgb(224, 224, 209, 0.4);
        width: 320px;
        height: $LOG_PANEL_HIGHT - 43;
        overflow-y: auto;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                position: relative;
                background: linear-gradient(-60deg, $ACCENT2 65%, $ACCENT1 66%);
                color: white;
                border-radius: 10px;
                list-style: none;
                width: 88%;
                height: 80px;
                margin: 10px auto;
                opacity: 0;
                transition: all 0.3s;
                box-shadow: 0 0 5px rgba(252, 240, 183, 0.8) inset;
                .chara {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translate(0, -50%) rotate(-5deg);
                }
                .gift {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 50%;
                    right: 8px;
                    cursor: pointer;
                    transform: translate(0, -50%) rotate(5deg);
                    transition: all 0.2s;
                    &:hover {
                        transform: translate(0, -50%) rotate(5deg) scale(1.3);
                    }
                }
                .label {
                    // border: #fff 1px solid;
                    font-size: medium;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 180px;
                    div:nth-child(1) {
                        border-bottom: 1px solid $ACCENT3;
                        padding: 20px 20px 0 27px;
                        text-align: left;
                    }
                    div:nth-child(2) {
                        line-height: 110%;
                        padding: 4px 15px 20px 30px;
                        text-align: right;
                    }
                }
            }
            li:last-child {
                background: linear-gradient(-60deg, $ACCENT6 65%, rgb(153, 95, 7) 66%);
                margin-bottom: 64px;
            }
        }
    }
}

//=========================//
//===   LOTTERY BOARD   ===//
//=========================//

.lotterySection {
    // border: 1px solid red;
    width: 100%;
}

.lotteryPanel {
    margin-left: 16px !important;
    background-color: rgb(203, 193, 177, 0.5);
    backdrop-filter: blur(8px);
    transition: all 0.4s;
    .lotteryBoard,
    .lotteryBoard_overlay {
        height: 640px;
    }
    .lotteryBoard {
        overflow-y: auto;
    }
    .lotteryBoard_overlay {
        opacity: 0;
        background-color: rgba(31, 21, 16, 0.5);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        width: 100%;
        position: absolute;
        z-index: -1;
        transition: opacity 0.4s;

        .endingText {
            div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .cross {
                width: 0;
                border: 1px solid $ACCENT5;
                transform: translate(-50%, -50%) rotate(-25deg);
                box-shadow: 0 0 30px black;
                transition: width 0.7s ease-in-out;
                opacity: 0.8;
            }
            div:nth-child(2) {
                width: 250px;
                text-align: center;
                font-size: 2.2em;
                font-family: "DFPT_AZ5";
                color: white;
                line-height: 170%;
                text-shadow:
                    0 0 20px black,
                    0 0 50px black,
                    0 0 65px black;
            }
        }
    }
}

$preview_size: 150px;
$preview_gapX: 10px;
$preview_gapY: 20px;

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0 30-$preview_gapY 0;
    list-style: none;
    max-width: 1100px;
    .gridItem {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: $preview_size;
        height: $preview_size;
        margin-right: $preview_gapX;
        margin-left: $preview_gapX;
        margin-bottom: $preview_gapY;
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        transition:
            transform 0.14s ease-in,
            text-shadow 0.1s ease-in;
        will-change: transform;
        perspective: 1000px;
        .gridItem_inner {
            text-align: center;
            vertical-align: middle;
            line-height: $preview_size;
            border: $ACCENT2 2px solid;
            font-size: 5rem;
            font-family: "Thelma";
            color: #fff;
            text-shadow:
                0 0 4px rgba(0, 0, 0, 0.7),
                0 0 6px rgba(0, 0, 0, 0.7);
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition:
                transform 0.5s,
                box-shadow 0.5s;
            transform-style: preserve-3d;
            &:hover {
                transform: scale(1.2);
                box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
            }

            .gift_front,
            .gift_back {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden; /* Safari */
                backface-visibility: hidden;
            }
            .gift_front {
                cursor: pointer;
                background-position: center center;
                .progress {
                    width: 0%;
                    position: absolute;
                    height: 5px;
                    background-color: yellow;
                    box-shadow: 0 2px 5px rgba(83, 83, 83, 0.349);
                    transition: width 0s;
                }
                .full_progress {
                    width: 100% !important;
                    background-color: red;
                    transition:
                        background-color 1.5s cubic-bezier(0.55, 0, 0.55, 1),
                        width 1.5s cubic-bezier(0.55, 0, 0.55, 1) !important;
                }
            }
            .gift_back {
                background-color: rgb(175, 168, 149);
                // background: linear-gradient(0deg, rgba(175, 168, 149,1) 50%, rgb(151, 145, 129) 100%);
                box-shadow: 0 0 8px 3px rgb(153, 147, 131) inset;
                color: white;
                transform: rotateY(180deg);
                img {
                    width: 120px;
                    height: 120px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

//==================//
//===   OC BAR   ===//
//==================//

.OCPanel {
    background: linear-gradient(-30deg, $ACCENT2 55%, $ACCENT1 55%);
    height: $PROFILE_SIZE;
    width: 100%;
    margin: 16px auto 0 auto;
    padding: 26px 0;
    position: relative;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
    // border-top-left-radius: 80px;
    // border-bottom-left-radius: 80px;
    // clip-path: polygon(0 0, 100% 0, 100% 120%, 6% 120%);
    transition: margin 0.3s ease;

    .OCPanelContent {
        width: 80%;
        position: absolute;
        right: 0;
        transition: opacity 0.6;
    }
}

.turingBar,
.indicator,
.frame {
    position: absolute;
    left: 50%;
}

.turingBar {
    // border: 1px solid red;
    display: flex;
    transition: transform 0.5s;
    img {
        width: $PROFILE_SIZE;
        height: $PROFILE_SIZE;
    }
    .oc {
        flex: 1;
        transition: all 0.5s;
    }
}

.indicator,
.frame {
    width: $PROFILE_SIZE;
    height: $PROFILE_SIZE;
    top: $SPOTLIGHT_BORDER_SIZE * -1;
}

.indicator {
    border: $SPOTLIGHT_BORDER_SIZE transparent solid;
    transform: translate(-50%, 0);

    .frame {
        border: $SPOTLIGHT_BORDER_SIZE $ACCENT4 solid;
        box-shadow:
            0 0 5px rgba(0, 0, 0, 0.3),
            inset 0 0 5px rgba(0, 0, 0, 0.3);
        transform: translate(-50%, 0) scale(1);
    }
    .currentText,
    .currentName {
        color: $ACCENT4;
        font-size: 2.2em;
        font-family: "DFPT_ZY9";
        text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.7);
    }
    .currentText {
        // background-color: grey;
        padding: 20px;
        position: absolute;
        top: -12%;
        left: -450%;
        transform: rotate(-2deg);
        span {
            color: $ACCENT7 !important;
        }
    }
    .currentName {
        text-align: center;
        width: 210px;
        position: absolute;
        top: 65%;
        left: -320%;
        transform: rotate(1deg);
        // border: 1px solid black;
    }
    .icon {
        z-index: 84;
        position: absolute;
        left: -70%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 60px;
        .arrow {
            position: absolute;
            top: 25px;
            width: 90%;
            height: 10px;
            background-color: $ACCENT4;
            // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.7);
        }
        .arrow::after,
        .arrow::before {
            content: "";
            position: absolute;
            width: 60%;
            height: 10px;
            right: -8px;
            background-color: $ACCENT4;
        }
        .arrow::after {
            top: -12px;
            transform: rotate(45deg);
        }
        .arrow::before {
            top: 12px;
            // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.7);
            transform: rotate(-45deg);
        }
    }
}

.breath {
    animation: breath 1s infinite;
}

@keyframes breath {
    0%,
    100% {
        transform: translate(-50%, 0) scale(0.95);
        border-color: $ACCENT7;
    }
    65% {
        transform: translate(-50%, 0) scale(1.2);
        border-color: $ACCENT4;
    }
}

//=========================//
//===                   ===//
//===   POP-UP MODALS   ===//
//===                   ===//
//=========================//

.modal {
    z-index: 830;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.25s ease-out;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 0.14s ease-in;

    .itemPanel {
        margin: 0 auto;
        width: 800px;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .2s ease-out;
        .itemArt {
            width: 350px;
            height: 350px;
            position: absolute;
            left: -50px;
            top: 50%;
            transform: translate(0, -50%) scale(1) rotateZ(-5deg);
            // border: 1px solid red;
        }
        .itemSummary {
            width: 400px;
            max-height: 300px;
            padding: 80px 50px 80px 200px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%) scale(1) rotateZ(2deg);
            background-color: #f3f4f8;
        }
    }
}

//===================//
//===   HOST ART  ===//
//===================//

.host_wrap,
.host,
.host img {
    width: 500px;
    height: 375px;
}

.host_wrap {
    position: fixed;
    bottom: -6%;
}

.host {
    perspective: 2000px;
    .host_inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    .front,
    .back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    // .front{
    // }
    .back {
        transform: rotateY(180deg);
    }
}

.squeezBreath {
    animation: squeezBreath 1s infinite;
    transform-origin: bottom;
}

.wobble {
    animation: wobble 4s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
}

@keyframes wobble {
    0%,
    100% {
        transform: rotate(0deg);
    }
    12% {
        transform: rotate(6deg);
    }
    25% {
        transform: rotate(3deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    87% {
        transform: rotate(-5deg);
    }
}

@keyframes squeezBreath {
    0%,
    100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.96) scaleX(1.04);
    }
}

//======================//
//===   HOST BUBBLE  ===//
//======================//


.infoBubble {
    color: #3a1f1f;
    position: absolute;
    bottom: 220px;
    z-index: 83;
    opacity: 0;
    transition: all 0.3s;

    span{
        color: #b82153 !important;
        text-decoration: underline;
    }
}

.infoBubble_inner {
    background: $ACCENT_WOOPA;
    border: 2px solid #3a1f1f;
    border-radius: 16px;
    padding: 12px 25px;
    font-size: 1.7em;
    font-family: "DFPT_AZ5";
    transition: all 0.5s;
    position: relative;
}

.infoBubble_inner:before,
.infoBubble_inner:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 27px 10px 0;
    border-color: $ACCENT_WOOPA transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -27px;
    left: 9px;
    transform: scale(1.1) skew(-40deg, 0deg);
}

.infoBubble_inner:before{
    left: 6px;
    bottom: -32px;
    border-color: #3a1f1f transparent;
    transform: scale(1.4) skew(-40deg, 0deg);
}

.rotated_squeezBreath {
    animation: rotated_squeezBreath 1s infinite;
    transform-origin: bottom;
}

.move_wobble {
    animation: move_wobble 4s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
}

@keyframes rotated_squeezBreath {
    0%,
    100% {
        transform: rotate(4deg) scaleY(1);
    }
    50% {
        transform: rotate(4deg) scaleY(0.96) scaleX(1.04);
    }
}

$BUBBLE_LEFT: 480px;

@keyframes move_wobble {
    0%,
    100% {
        left: $BUBBLE_LEFT;
    }
    12% {
        left: $BUBBLE_LEFT + 10;
    }
    25% {
        left: $BUBBLE_LEFT + 3;
    }
    75% {
        left: $BUBBLE_LEFT - 30;
    }
    87% {
        left: $BUBBLE_LEFT - 12;
    }
}

//=================//
//===   UTILS   ===//
//=================//

.flipped:hover {
    box-shadow: none !important;
}

.noscroll {
    overflow: hidden;
}

.hide {
    opacity: 0 !important;
    z-index: -1 !important;
}

.no-select,
.turingBar *,
.host_wrap * {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

::selection {
    color: $ACCENT1;
    background: $ACCENT5;
}

.currentText span::selection,
.currentName::selection,
.endingText div::selection {
    color: white;
    background: $ACCENT7;
}

.infoBubble_inner::selection {
    color: #ca3044;
    background: white;
}

//=====================//
//===   SCROLLBAR   ===//
//=====================//

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $ACCENT6 $ACCENT5;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: $ACCENT5;
}

*::-webkit-scrollbar-thumb {
    background-color: $ACCENT1;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

//=========================//
//===                   ===//
//===   MEDIA SCREENS   ===//
//===                   ===//
//=========================//

$LOG_PANEL_HIGHT_FULLSCREEN: 670px;

@media all and (display-mode: fullscreen) {

    .panel {
        margin: 40px;
    }

    .lotteryPanel {
        .lotteryBoard,
        .lotteryBoard_overlay {
            height: 740px;
        }
    }
    .logPanel {
        max-height: $LOG_PANEL_HIGHT_FULLSCREEN;
        .logPanelContent {
            height: $LOG_PANEL_HIGHT_FULLSCREEN - 43;
        }
    }

    .OCPanel {
        margin-top:0;
    }
}
