@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
.modal {
  z-index: 830;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: all 0.2s ease-in;
}
.modal .modal_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal2 {
  z-index: 834;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.2s ease-in;
}
.modal2 .modal2_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.ref_wrap {
  width: 100%;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) !important;
  transition: all 0.25s ease-out;
}

.ref {
  width: 100%;
}

.itemPanel {
  width: 800px;
  height: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-out;
}
.itemPanel .itemArtWrap {
  z-index: 834;
  width: 350px;
  height: 370px;
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translate(0, -50%) scale(1);
  transition: all 0.2s ease-out;
}
.itemPanel .itemArtWrap .itemArt {
  width: 350px;
  height: 350px;
}
.itemPanel .itemArtWrap .itemArtList {
  color: rgb(233, 223, 211);
  font-size: 1.2em;
  text-align: center;
}
.itemPanel .itemArtWrap .itemArtList span {
  padding: 0 2px;
}
.itemPanel .itemSummary {
  z-index: 833;
  padding: 30px 40px 50px 120px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%) scale(1) rotateZ(2deg);
  background-color: rgb(235, 230, 220);
  background-image: url(../assets/paper.jpg);
  font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;
  font-size: 1.27em;
  box-shadow: 8px 8px 9px 1px rgba(0, 0, 0, 0.2);
}
.itemPanel .itemSummary .itemTitle {
  text-align: center;
  font-size: x-large;
  font-family: "DFPT_ZY9", "HuakangZongyi";
  background-image: url(../assets/paper.jpg);
  position: static;
  padding-bottom: 20px;
  max-width: 440px;
}
.itemPanel .itemSummary .itemTitle div:nth-child(1) {
  word-spacing: -1px;
  line-height: 120%;
}
.itemPanel .itemSummary .itemTitle div:nth-child(2) {
  font-size: medium;
  font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;
  border-top: 1px solid black;
  line-height: 100%;
  padding-top: 5px;
}
.itemPanel .itemSummary .itemSummary_inner {
  text-align: left !important;
  max-height: 320px;
  padding: 10px 16px;
  overflow-y: auto;
  width: 440px;
  height: 100%;
}
.itemPanel .itemSummary .itemSummary_inner ul {
  margin-top: 0px;
  margin-bottom: 10px;
}
.itemPanel .itemSummary .itemSummary_inner ul li {
  padding-right: 20px;
}
.itemPanel .itemSummary .langSwitch {
  position: absolute;
  top: 3px;
  right: 10px;
  transition: all 0.14s ease-in;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.itemPanel .itemSummary .langSwitch:hover {
  color: rgb(184, 120, 2);
}

/*# sourceMappingURL=modal.css.map */
