@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@font-face {
  font-family: "DFPT_AZ5";
  src: url("../assets/fonts/DFPT_AZ5.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "DFPT_ZY9";
  src: url("../assets/fonts/DFPT_ZY9.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Thelma";
  src: url("../assets/fonts/ThelmaPersonalUse.otf");
  font-style: normal;
  font-weight: normal;
}
/* Chinese (Simplified) */
@font-face {
  font-family: "HanyiZongyi";
  src: url("../assets/fonts/hanyi_zongyi.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HuakangZongyi";
  src: url("../assets/fonts/huakang_xinzongyi.ttc");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Noto Sans SC";
  src: url("../assets/fonts/NotoSansSC-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
.modal {
  z-index: 830;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: all 0.2s ease-in;
}
.modal .modal_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal2 {
  z-index: 834;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: all 0.2s ease-in;
}
.modal2 .modal2_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.ref_wrap {
  width: 100%;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) !important;
  transition: all 0.25s ease-out;
}

.ref {
  width: 100%;
}

.itemPanel {
  width: 800px;
  height: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-out;
}
.itemPanel .itemArtWrap {
  z-index: 834;
  width: 350px;
  height: 370px;
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translate(0, -50%) scale(1);
  transition: all 0.2s ease-out;
}
.itemPanel .itemArtWrap .itemArt {
  width: 350px;
  height: 350px;
}
.itemPanel .itemArtWrap .itemArtList {
  color: rgb(233, 223, 211);
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}
.itemPanel .itemArtWrap .itemArtList span {
  padding: 0 2px;
}
.itemPanel .itemSummary {
  z-index: 833;
  padding: 30px 40px 50px 120px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%) scale(1) rotateZ(2deg);
  background-color: rgb(235, 230, 220);
  background-image: url(../assets/paper.jpg);
  font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;
  font-size: 1.27em;
  box-shadow: 8px 8px 9px 1px rgba(0, 0, 0, 0.2);
}
.itemPanel .itemSummary .itemTitle {
  text-align: center;
  font-size: x-large;
  font-family: "DFPT_ZY9", "HuakangZongyi";
  background-image: url(../assets/paper.jpg);
  position: static;
  padding-bottom: 20px;
  max-width: 440px;
}
.itemPanel .itemSummary .itemTitle div:nth-child(1) {
  word-spacing: -1px;
  line-height: 120%;
}
.itemPanel .itemSummary .itemTitle div:nth-child(2) {
  font-size: medium;
  font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;
  border-top: 1px solid black;
  line-height: 100%;
  padding-top: 5px;
}
.itemPanel .itemSummary .itemSummary_inner {
  text-align: left !important;
  max-height: 320px;
  padding: 10px 16px;
  overflow-y: auto;
  width: 440px;
  height: 100%;
}
.itemPanel .itemSummary .itemSummary_inner ul,
.itemPanel .itemSummary .itemSummary_inner ol {
  margin-top: 0px;
  margin-bottom: 10px;
}
.itemPanel .itemSummary .itemSummary_inner ul li,
.itemPanel .itemSummary .itemSummary_inner ol li {
  padding-right: 20px;
}
.itemPanel .itemSummary .itemSummary_inner span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.itemPanel .itemSummary .langSwitch {
  position: absolute;
  top: 3px;
  right: 10px;
  transition: all 0.14s ease-in;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer;
  font-size: 1em !important;
}
.itemPanel .itemSummary .langSwitch:hover {
  color: rgb(184, 120, 2);
}

.tranlateIcon {
  width: 19px;
  height: 19px;
  padding-top: 6px;
  fill: rgb(58, 49, 45);
  transition: all 0.2s ease-in;
}
.tranlateIcon:hover {
  fill: rgb(184, 120, 2);
}

.close {
  z-index: 888;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 70px;
  height: 70px;
  opacity: 0.6;
  transition: all 0.3s ease-in;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 35px;
  content: " ";
  height: 70px;
  width: 2px;
  background-color: #dfdfdf;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 959px) {
  .itemPanel {
    width: 100% !important;
    height: max-content !important;
    text-align: center;
  }
  .itemPanel .itemArtWrap {
    display: inline-block;
    height: unset !important;
    position: unset !important;
    margin: 0 auto !important;
    transform: translate(0, 0) !important;
  }
  .itemPanel .itemSummary {
    position: relative !important;
    width: 90% !important;
    margin: 0 auto !important;
    right: auto !important;
    padding: 0 0 20px 0 !important;
    transform: translate(0, 0) rotateZ(2deg) !important;
  }
  .itemPanel .itemSummary .itemTitle {
    max-width: none !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    width: 90%;
    margin: 0 auto;
  }
  .itemPanel .itemSummary .itemSummary_inner {
    width: 90% !important;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 481px) {
  .itemArt {
    width: 290px !important;
    height: 290px !important;
  }
  .itemPanel .itemSummary .itemTitle {
    font-size: 20px;
  }
  .itemPanel .itemSummary .itemTitle div:nth-child(2) {
    font-size: small;
  }
  .itemPanel .itemSummary_inner {
    font-size: 0.8em;
    max-height: 220px !important;
  }
}

/*# sourceMappingURL=modal.css.map */
